#*
 * @(#) DeletePosted.vm
 * Copyright (c) 2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:madhavi_mungole@hotmail.com ">Madhavi Mungole</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Home | Communication | Delete Posted Notice")
<table bgcolor="$ui.tableColor" width=100%>
	<tr align="right">
		<td>
		<font face="$ui.sansSerifFonts">
		<b>
		<a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_Of1 $brih_home</a> | 
		<a href=$link.setPage("call,Notice_User,Notices.vm")>$brih_communication</a> | $Notice_DeletePosted_msg1
		</font>
		</td>
	</tr>
</table>
$!data.getMessage()
<br>
<form name="frm" method="Post" action="$link.setPage("call,Notice_User,DeletePostedAdmin.vm").setAction("Notice_Send_Delete")">
#if($Mas_size!="0")
<table align="center">
<tr>
	#if($desc=="Notice_Des")
	<td>
        	<table>
	        <tr align="right">
        	<td bgcolor="$ui.tableColor" align="center">
                	<font size=4><I><b>$Notice_sub</b></I></font>
	        </td>
        	</tr>
		<tr align="right">
	        <td>
        	        <textarea name=description rows=10 cols=55 wrap=physical onFocus="this.blur();">$message</textarea>
	        </td>
        	</tr>
	        </table>
	</td>
	#end

	<td width=60%>
		<table border=0 bgcolor="$ui.menuColor" align=center width=100% cellpadding=0 cellspacing=0>
		<tr>
		<td colspan=3 align=center bgcolor="$ui.tableColor">
			<font size=4 face="$ui.sansSerifFonts"><I> $Notice_DeletePosted_msg2  #UNAME() </I>
			</font>
		</td>
		</tr>
		<tr bgcolor="$ui.tableColor" align="right">
		<td align=center>
	        	 <font face="$ui.sansSerifFonts">
			 $brih_Da
			 </font>
		</td>
		<td align=center>
			<font face="$ui.sansSerifFonts">
			$Notice_Subject	
			</fonts> 
		</td>
		<td>
		</td>
		</tr>
		#foreach($detail in $msgDetail)
			<tr align="right">
			<td align=center>
	       			<font face="$ui.sansSerifFonts">
				$detail.getPostTime()
		 		</font>
			</td>
			<td align=center>
	        	<font face="$ui.sansSerifFonts">
				<a href="$link.setPage("call,Notice_User,DeletePostedAdmin.vm").addPathInfo("notice_id",$detail.getMsgId()).addPathInfo("desc","Notice_Des")">$detail.getMsgSubject()</a>
				</font>
   			</td>
			<td align="Center">
        	        	<INPUT TYPE="CHECKBOX" NAME="$detail.getMsgId()" onClick="addDeleteList(this,document.frm);">
                	</td>
			</tr>
		#end
		<tr bgcolor="$ui.tableColor" align="right">
		<td align="center" colspan="3">
		<input type="button" name="eventSubmit_doDelete" value="$brih_delete" onClick="CheckValue(document.frm,this);">
		<input type="hidden" name="actionName" value="">
		<input type="hidden" name="deleteFileNames" VALUE="">
		</td>
		</tr>
		</table>
	</td>
</tr>
</table>
#end
</form>
<SCRIPT LANGUAGE="javascript">
function CheckValue(frm,field)
{
        if(frm.deleteFileNames.value!="")
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        {
                alert("Please select checkbox for deletion !!");
        }
}
function addDeleteList(field,frm)
{
        if(field.checked){
                frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteFileNames.value;
                index=actualString.indexOf(field.name+"^",0);
                       preString=actualString.substring(0,index);
                       postString=actualString.substring(index+field.name.length+1);
                       actualString=preString+postString;
                       frm.deleteFileNames.value=actualString;
        }
}
</SCRIPT>
