#*
 * @(#)Create_Quiz.vm
 * Copyright (c) 2008 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
*#

$page.setTitle("Create Quiz")
#set($cnm = $data.getUser().getTemp("course_name" ).toString())

<table bgcolor="$ui.tableColor" width=100%>
        <tr align="right">
                <td>
                <font face="$ui.sansSerifFonts"><b>
        	<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Start.vm")>$brih_quiz </a> | 
        	<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Detail.vm")>$brih_quiz $brih_Of $brih_detail</a> | $WikiCreate $brih_quiz | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |
                <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> 
                </font>
                </td>
        </tr>
</table>
$!data.getMessage()

<br> 
<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,Quiz_Mgmt,Create_Quiz.vm").setAction("Quiz_Action")>
  <div align="left">
    <table align=center bgcolor="$ui.tableColor" border=2 cellpadding="5" width=60% >
        <tr bgcolor="$ui.menuColor" >
        <td align=center colspan=2 >
                ##<font size=4><i> <b> $WikiCreate $brih_quiz :<b> $Quizid  <i>  </b></font>
                <font size=4> <b> $Quizid <i> : $WikiCreate $brih_quiz </i></b></font>
        </td>
        </tr>
	<tr align="right">
		<td > <input type="text" name="maxmarks"  value="$!mmarks" readonly></td> 
		<td > <font color=red>*</font> <font face="$ui.sansSerifFonts">
			$brih_marks $brih_Of $brih_max </font></td>
        </tr>
	<tr align="right">
		<td> <input type="text" name="marks" value="" ></td>
		<td> $brih_marks $brih_per $brih_qus </td>
                ##formCell("$brih_marks $brih_per $brih_qus " "marks" "")
        </tr>
        <tr align="right">
		<td> <input type="text" name="noofques" value=""> </td>
		<td><font color=red>*</font> $brih_total $brih_qus </td>
                ##formCell(" $brih_total $brih_qus  <font color=red>*</font>" "noofques" "")
        </tr>
        <tr align="right">
		<td  width=70% >
        		<font face="$ui.sansSerifFonts">  &nbsp;
        		<SELECT name=typeList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.frm)>
                        <option></option>
		        <option value="Multiple">$brih_multiple1 $brih_qus</option>
		        <option value="TF">$brih_true / $brih_false $brih_qus</option>
		        <option value="Short">$brih_short $brih_type $brih_qus</option>

                        </SELECT> </font>	
  		</td>
		<td width=30% > <font face="$ui.sansSerifFonts"> $brih_qus $brih_of $brih_type </font> </td>
	<tr align="right">
                ##formCell(" $brih_pass $brih_marks  <font color=red>*</font> " "passmarks" "")
		<td> <input type="text"  name="passmarks" value=""> </td>
		<td> <font color=red>*</font>  $brih_pass $brih_marks </td>

        </tr>
        <tr bgcolor="$ui.menuColor">
		<td align="center" colspan=2>

			<input type="button" name="eventSubmit_doCreate" value="$brih_submit" onClick="checkField(document.frm,this);"/>
			
			<input type="hidden" name="quizid" value="$Quizid">
                	<input type="hidden" name="actionName">
			<input type="reset" name="Reset" value="$brih_reset"/>
	        </td>
        </tr>
    </table>
  </div>
</form>
</body>

<script LANGUAGE="JAVASCRIPT" >

        function checkField(frm,field)
        {
		if((frm.maxmarks.value!="") && (frm.noofques.value!="") && (frm.passmarks.value!="")){	
			if(isNumberString(frm.noofques.value))
                        {
                                alert("Total questions should be an integer value");
                                frm.noofques.focus();
                                return false;
                        }
                        if(isNumberString(frm.passmarks.value))
                        {
                                alert("Passing marks should be an integer value ");
                                frm.passmarks.focus();
                                return false;
                        }
                        if(isNumberString(frm.marks.value))
                        {
                                alert("Marks per question should be an integer value ");
                                frm.marks.focus();
                                return false;
                        }

			var passmarks=0;
			passmarks=frm.passmarks.value;
			var max=0;
			max=frm.maxmarks.value; 
			var myboolean1=new Boolean(true);	
			if(frm.marks.value!="")
			{
				var mpq=0;
                                mpq=frm.marks.value;
				mpq=mpq*frm.noofques.value;
				if(mpq > max)
				myboolean1=false;
			}
			if(myboolean1)
			{	
				max=max*1;					
				if((passmarks <= max )&&(passmarks >= 1 ))
				{	   
					frm.actionName.value=field.name;
                			frm.submit();
				}
				else
					alert("Pass Marks should not be greater than Max Marks !!");
			}
			else
				alert("Multiplication of  total number of question and marks per Question should not be greater than Max Marks !!");
		}
		else
                	alert("Please Fill All Fields");
        }

	function isNumberString(chString)
        {
                if(chString.length==0)
                        return false;
                var RefString="0123456789.";
                for(count=0;count<chString.length;count++)
                {
                        var tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
                                return true;
                        }
                }
                return false;
        }
</script>
