

$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.menuColor" width=100%>
	<tr align="right">
		<td>
		<font face="$ui.sansSerifFonts"><b>
				</font>
		</td>
	</tr>
</table>
<table width=100%>
        <tr bgcolor="$ui.tableColor">
                <td>
		<a href=javascript:popupWin("/brihaspati2/docs/Quota.html","newWin");>??? </a>
		<img src="$content.getURI("/images/Lefthand.gif")"> 
                </td>
        </tr>
</table>
<table align=left  width=100% bgcolor="$ui.menuColor"> 
<tr> <td>
<table align=left  width=100% bgcolor="$ui.menuColor"> 
	<tr align="right">
		<td width=50%>
		<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("mode","uquota")>??????  ?? ???? </a>
		</td>
		<td>
        	<a href=$link.setPage("call,Quota_Mgmt,Quota.vm").addPathInfo("mode","cquota")>???? ?? ???? </a>
	        </td>

	</tr>
</table>
</td></tr>
<form name="frm" action="$link.setPage("call,Quota_Mgmt,Quota.vm").setAction("QuotaAction")"> 
<tr> <td>
<table align=left  width=100% bgcolor="$ui.tableColor">
                <input type="hidden" name="actionName">
                <input type="hidden" name="mode" value=$mode>

</table>
</td> </tr>
</table>
</form>
<SCRIPT LANGUAGE="javascript">
	function checkfield(frm,field)
	{
		if(frm.quota.value!="")
		{	
			if(isNumberString(frm.quota.value))
			{
     				frm.actionName.value=field.name;
     				frm.submit();
			}
    		}
	}
	function Updatefield(frm,field)
	{
		if(frm.cquota.value!="")
		{
			if(isNumberString(frm.cquota.value))
			{
     				frm.actionName.value=field.name;
     				frm.submit();
			}
    		}
	}
	 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }


	function isNumberString(chString)
        {
                if(chString.length==0)
                return false;
                var RefString="0123456789";
                for(count=0;count<chString.length;count++)
                {
                        tempChar=chString.charAt(count);
                        if(RefString.indexOf(tempChar)==-1)
                        {
				alert("Value should be numeric")
                                return false;
                        }
                }
                        return true;
        }

</SCRIPT>

