#*
 * @(#) RegisterationManagement.vm
 * Copyright (c) 2005-2008 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | Registeration Management")
$page.setBgColor("bgcolor")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString()) 

##<table bgcolor="#d9e3ec" width=100% cellspacing=0>

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td>
	##<font face="$ui.sansSerifFonts" size=3>
	##<b>
     	##<a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_home </a> |
     	<a href=$link.setPage("Index.vm")>$brih_ad $brih_home </a> |
	<a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")">$brih_reg $brih_mgmt</a> |
	#if($mode=="")
	$brih_course $brih_reg
	#elseif($mode=="MCRegister")
	$brih_multi_usr2
	#else		
        #if($mode!="Search")
                #if($lang == "hindi")
                 $brih_view_all1
        <td width="30%" align="right">
        #if( $total_size!=0 )
        #if( $endIndex < $total_size )
                #if( $endIndex < $AdminConf )
                [$k - $total_size] of $total_size
                #else
                [$k - $endIndex] of $total_size
                #end
        #else
        [$k - $total_size] of $total_size
        #end
        #end
        </td>
                #else
                $brih_view_all $brih_course
        <td width="30%" align="right">
        #if( $total_size!=0 )
        #if( $endIndex < $total_size )
                #if( $endIndex < $AdminConf )
                [$k - $total_size] of $total_size
                #else
                [$k - $endIndex] of $total_size
                #end
        #else
        [$k - $total_size] of $total_size
        #end
        #end
        </td>
                #end
        #else
                $brih_view_sel
        #end

 	#end
	</td>
</tr>
</table>
##</td></tr><tr><td>
##<table width=100% align=left bgcolor="$ui.menuColor">
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
##<td>
  ##<table bgcolor="$ui.tableColor" width=100% align=left>
    ##    <tr>
        <td width=33%>
        <a href=$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")>$brih_reg1 $brih_course</a>
        </td>
        <td width=33%>
        <a href=$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("mode","MCRegister")>$brih_reg1 $brih_multiple1 $brih_course</a>
        </td>
        <td width=33%>
        <a href=$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("mode","All").addPathInfo("scourse","scourse")>$brih_course $brih_list</a>
        </td>
</tr>
</table>
##</td></tr><tr><td>
<table bgcolor="$ui.tableColor" align=left width=100%>
	<tr><td>
	#if(($mode == "") && ($mode != "MCRegister") && ($mode != "All"))
<form name=frm method="post" action="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").setAction("RegisterCourseInstructor")">
  ##<div align="left">
    <table align="left" width=100%>
      <tr bgcolor="$ui.menuColor">
        #formCell ("$brih_course $brih_ID <font color=Red>*</font>" "COURSEID" "")
      </tr>
      <tr>
        #formCell ("$brih_course $brih_name <font color=Red>*</font>" "CNAME" "")
      </tr>
      <tr bgcolor="$ui.menuColor">
        #formCell ("$brih_dept" "DEPARTMENT" "")
      </tr>
          <tr>
                <td>
                ##<font face="$ui.sansSerifFonts"> $brih_desc </font>
                $brih_desc
                </td>

                <td>
                <font face="$ui.sansSerifFonts"><textarea name="DESCRIPTION" rows=5 cols=60></textarea></font>
                </td>
          </tr>
          <tr bgcolor="$ui.menuColor">
                   #formCell ("$brih_usr $brih_name <font color=Red>*</font>" "UNAME" "")
          </tr>
          <tr>
                  #formPasswordCell ("$brih_pwd" "PASSWD" "")
          </tr>
          <tr bgcolor="$ui.menuColor">
                  #formCell ("$brih_first $brih_name" "FNAME" "")
           </tr>
           <tr>
                   #formCell("$brih_last $brih_name" "LNAME" "")
            </tr>
            <tr bgcolor="$ui.menuColor">
	  	#formCell("$brih_email $brih_ID" "EMAIL" "")
            </tr>
          <tr>
          <td align=left colspan=2>
    <input type="hidden" name="actionName" >
    <input type="hidden" name="mode" value="$mode" >
    <input type="button" name="eventSubmit_doRegister" value=$brih_reg onClick="checkCourseName(document.frm,this);"/>
    <input type="reset" name="Clear" value=$brih_clear onClick="checkClear(document.frm,this);"/>
</table>
##</div>
</form>
	
	#end
##	</td></tr>
##	<tr><td>
	#if($mode ==  "MCRegister")
<table width=100% align=left bgcolor="$ui.menuColor">
<tr>
<td align=right>
        <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/RegisterMultiCourseInstructor.html","newWin");>$brih_help</a>
</td>
</tr>
</table>
<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("mode","MCRegister").setAction("RegisterMultiCourseInstructor")">
##<div align="left">
<br>
##<table width=100% bgcolor="$ui.menuColor" cellpadding="2" align="left" >
<table width=100% cellpadding="2" align="left" >
        <tr>
        ##<td colspan=2 bgcolor="$ui.menuColor" align="left">
        <td colspan=2 align="left">
                <font size=4><b>$brih_upload_msg3</b></font>
        </td>
        </tr>
        ##<tr bgcolor="$ui.menuColor" >
        <tr bgcolor="$ui.menuColor">

                #fileUpload ("$brih_at_file <font color=RED>*</font>" "file")

        </tr>
        <tr>
        ##<td colspan=2 align="left" bgcolor="$ui.buttonBoxColor">
        <td colspan=2 align="left">
                <font face="$ui.sansSerifFonts">
                <input type="button" name="eventSubmit_doUploadcourse" value="$brih_upload" onClick="CheckFields(document.frm,this);"/>
                <input type="hidden" name="actionName" value=""/>

                </font>
        </td>
                   </tr>
</table>
<br>
<br>
##<table width=60% border=1 bgcolor="$ui.formLabelColor" align=center>

<table width=100% bgcolor="$ui.menuColor" align=left>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.tableColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">Entry <font color="$ui.fontColorBrown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
  </div>
</form>

	#end
##	</td></tr>	
##	<td><tr>	
	##if($mode ==  "All")
	#if($scourse ==  "scourse")
##<form name="frm" method="post" action="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm")">
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")">
<table width=100% align=left bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
                <td align=center><b>$brih_searchBy</b></td>

                <td align=left>
                        <select name="queryList">
                                <option value=CourseId>$brih_course $brih_ID</option>
                                <option value="Course Name">$brih_course $brih_name</option>
                                <option value=Dept>$brih_dept</option>
                        </select>
                </td>

                <td align=center><b>$brih_match_str</b></td>

                <td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" name="Search" value="$brih_search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="scourse" value="scourse">
                </td>
                <td>

                        <b><a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("mode","All").addPathInfo("scourse","scourse")">$brih_listCourse</a></b>
                <td>
        </tr>
</table>
#if($status == "Noblank" )

#set($headings = ["$brih_course $brih_ID","$brih_course $brih_name","$brih_dept","$brih_desc","$brih_creation $brih_Da","$brih_status",""] )
<table bgcolor="$ui.tableColor" align="left" width=100%>
##<table align="left">
  <tr>
    <td>
      <table bgcolor="$ui.tableColor" width=100%>
        <tr>
          #foreach($heading in $headings)
                  #headerCell($heading)
          #end
        </tr>
        #foreach($entry in $courseDetail)
	#if($velocityCount%2==0)	
        <tr bgcolor="$ui.tableColor">
	#else
        <tr bgcolor="$ui.menuColor">
	#end
                  ##entryCell($entry.getGroupName())
                  <td>$entry.getGroupName()</td>
                  <td>$entry.getCourseName()</td>
                  <td>$entry.getDept()</td>
                  <td>$entry.getDescription()</td>
                  <td>$entry.getCreateDate()</td>
                  #*entryCell($entry.getDept())
                  #entryCell($entry.getDescription())
                  #entryCell($entry.getCreateDate())*#
                  #if($entry.getActive()=="1")

                  <td><font bgcolor="$ui.tableColor" color="Green">$brih_active</font></td>
                  #else

                  <td><font bgcolor="$ui.tableColor" color="Red">$brih_inactive</font></td>
                  #end
                  <td bgcolor="$ui.tableColor">
                        <font face="$ui.sansSerifFonts">
                        <a href="$link.setPage("call,UserMgmt_Admin,RegisterSecInstructor.vm").addPathInfo("gName",$entry.getGroupName())">$brih_reg1</a>
                        </font>
                 </td>
        </tr>
        #end
</td>
</tr>
         <tr bgcolor="$ui.menuColor">
         ##<td align=center bgcolor="$ui.menuColor">
         <td align=next colspan=7>
         #if($mode!="Search")
         #if($total_size<= $AdminConf)

         <u><font color="white">$brih_first</font></u> &nbsp;
         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_pre</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;

          #elseif($startIndex== $AdminConf_str)

          <u><font color="white">$brih_first</font></u> &nbsp;
          <u><font color="white">$brih_pre</font></u> &nbsp;

          <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_nxt</a> &nbsp;
          <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_last</a> &nbsp;
         #elseif($endIndex == $total_size || $endIndex > $total_size)

         <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_first</a> &nbsp;
         <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_pre</a> &nbsp;
         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;
          #else
           <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_first</a> &nbsp;
           <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_pre</a> &nbsp;
<a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_nxt</a> &nbsp;
            <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse)">$brih_last</a> &nbsp;
     #end     #else
         #if($total_size<= $AdminConf)
         <u><font color="white">$brih_first</font></u> &nbsp;         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_pre</font></u> &nbsp;         <u><font color="white">$brih_last</font></u> &nbsp;
          #elseif($startIndex== $AdminConf_str)
          <u><font color="white">$brih_first</font></u> &nbsp;          <u><font color="white">$brih_pre</font></u> &nbsp;
          <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_nxt</a> &nbsp;
          <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_last</a> &nbsp;
         #elseif($endIndex == $total_size || $endIndex > $total_size)        
	 <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_first</a> &nbsp;
	 <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_pre</a> &nbsp;         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;
          #else
           <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_first</a> &nbsp;
           <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_pre</a> &nbsp;
           <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_nxt</a> &nbsp;
  <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("scourse",$scourse).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">$brih_last</a> &nbsp;
     #end
    #end
    </td>
 </tr>
</table>
</table>
#end
</form>

<br>
<table width=100% bgcolor="$ui.menuColor" align=left>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="ui.menuColor">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">User
Name <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>


	#end
	</td></tr>
  </table>
</td>
</tr>
</table>
</table>
<SCRIPT LANGUAGE="javascript">
        function checkCourseName(frm,field)
        {
                if((frm.COURSEID.value!="") && (frm.UNAME.value!="")  && (frm.CNAME.value!=""))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
        function checkClear(frm,field)
        {
        frm.COURSEID.value="";
        frm.UNAME.value="";
        frm.CNAME.value="";
        }
	 function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function CheckFields(frm,field)
        {
                if(frm.file.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
	 function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }


</SCRIPT>
