#*
 * @(#) Index.vm
 * Copyright(c)2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:shaistashekh@gmail.com">Shaista</a>
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
*#


#set($Brihaspatilanguage = $data.getUser().getTemp("lang" ).toString())

#parse("screens/$Brihaspatilanguage/Index.vm")

                                                   
