

$page.setTitle("Quiz Management")
$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.tableColor" width=100%>
<tr>
	<td>
	<font face="$ui.sansSerifFonts"><b>
	<a href=$link.setPage("call,IndexHome.vm")>Home page</a> |	
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |  
        <a href=$link.setPage("call,Quiz_Mgmt,Quiz_Start.vm")>Quiz </a> | Quiz Particolari  
        </font>
        </td>
</tr>
</table><br>


<form name="frm" method="post" action="$link.setPage("call,Quiz_Mgmt,Quiz_Detail.vm").setAction("Quiz_Action")">
	<table align=center border=1 bgcolor="$ui.tableColor" width="60%">
	<tr bgcolor="$ui.tableColor" >
		<td align="center" bgcolor="$ui.menuColor" colspan=7>
				<b><i> Quiz Particolari  </i></b></td></tr>
	       				<INPUT TYPE="hidden" NAME="deleteFileNames">	
        	<input type="hidden" name="actionName">
</table>
</form>

<SCRIPT LANGUAGE="javascript">
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

	function checkField(frm,field)
	{
		if(frm.deleteFileNames.value!="")
        	{
                	frm.actionName.value=field.name;
                	frm.submit();
        	}
        	else
        	{
                	alert("Please select checkbox for deletion !!");
        	}
	}

	function addDeleteList(field,frm)
	{
		if(field.checked)
		{
			frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
		}
                else
                {
                        var rmFile,index,actualString,preString,postString;
                        actualString=frm.deleteFileNames.value;
                        index=actualString.indexOf(field.name+"^",0);
                        preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
                        actualString=preString+postString;
                        frm.deleteFileNames.value=actualString;
                }
	}
	function selectAll(field)
	{
        	if(field.checked)
        	{
                	var rmFile,index,actualString,pre=0,next=0;
                	actualString=document.frm.deleteFileNames.value="";
                	while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
                        	var temp=actualString.substring(next,pre);
                         	next=pre+1;
                        	rmFile=document.frm.elements[temp].checked=true;
                        }
		}
        	else
        	{
                	var rmFile,index,actualString,pre=0,next=0;
                        actualString=document.frm.deleteFileNames.value="";
			while( ( pre=actualString.indexOf("^",next) ) >=0 )
                        {
				var temp=actualString.substring(next,pre);
                        	next=pre+1;
                        	rmFile=document.frm.elements[temp].checked=false;
                        }
                        document.frm.deleteFileNames.value="";
           	}
	}
</SCRIPT>
