  #*
 * @(#) Calculator.vm
 * Copyright (c) 2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singhnk@iitk.ac.in ">Nagendra Kumar Singh</a>
 * @author <a href="mailto:sunil_gupta20801@rediffmail.com">Sunil Kumar Gupta</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Change Profile")
$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.tableColor" width=100%>
	<tr><td><font face="$ui.sansSerifFonts"><b>
		#if($data.getUser().getUserName()=="admin")
		        <a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_home</a> | $ScientCal</b>
	        #else
			<a href=$link.setPage("Index.vm")>$brih_home</a> |  $ScientCal
	        #end
	</font></td></tr>
</table>

$!data.getMessage()

<BODY BGCOLOR="$ui.bgcolor" alink="#FF6600" vlink="#003366" link="#FF6600">
<br>
	<TABLE bgcolor="$ui.menuColor" cellSpacing=0 cellPadding=0 width=649 align=center border="1">
		<TBODY>	<TR><TD>
			<DIV align=center>
			<P>
			<SCRIPT language=JavaScript>
					
				function round(val)
				{
					return(Math.round(val*10000000)/10000000);
				}
				PI = 3.141592654;
				
				function pie()
				{
					document.keypad.display.value = PI;
				}

				function MakeArray(n){
					this.length=n;
					 for(var i=1; i<=n; i++) this[i]=0;
						 return this
				}
						
				link = new MakeArray(5);
				function enter(num)
				{
					document.keypad.display.value += num;
				}

				function calculate(sign)
				{
					var temp = document.keypad.display.value * 1;
					document.keypad.display.value = "";
					document.keypad.list.value = temp;
					link[1] = temp;
					if (sign == "/") {link[2] = "/"; document.keypad.list.value += " / ";}
					if (sign == "*") {link[2] = "*"; document.keypad.list.value += " * ";}
					if (sign == "-") {link[2] = "-"; document.keypad.list.value += " - ";}
					if (sign == "+") {link[2] = "+"; document.keypad.list.value += " + ";}
					if (sign == "p") {link[2] = "p"; document.keypad.list.value += " ^ ";}
				}

				function power()
				{
					temp = 1;
					n = link[3];
					for(var i=1; i<=n; i++) temp *= link[1];
					return(temp);
				}

				function equal()
				{
					if (link[2]) {
						if (document.keypad.display.value != "") {
							var temp = document.keypad.display.value * 1;
							document.keypad.list.value += temp;
							link[3] = temp;
							if (link[2] == "/") {res = link[1] / link[3]; document.keypad.display.value = round(res)}
							if (link[2] == "*") {res = link[1] * link[3]; document.keypad.display.value = round(res)}
							if (link[2] == "-") {res = link[1] - link[3]; document.keypad.display.value = round(res)}
							if (link[2] == "+") {res = link[1] + link[3]; document.keypad.display.value = round(res)}
							if (link[2] == "p") {document.keypad.display.value = round( power() )}
							link[1]=0; link[2]=0; link[3]=0;
						}
					}
				}

				function calc(code)
				{
					var temp = document.keypad.display.value * 1;
					if (code == 1) {temp1 = Math.sin(temp*PI/180); document.keypad.list.value = "sin "}
					if (code == 2) {temp1 = Math.cos(temp*PI/180); document.keypad.list.value = "cos "}
					if (code == 3) {temp1 = Math.tan(temp*PI/180); document.keypad.list.value = "tan "}
					if (code == 4) {temp1 = Math.sqrt(temp); document.keypad.list.value = "sqrt "}
					if (code == 5) {temp1 = Math.log(temp); document.keypad.list.value = "ln "}
					if (code == 6) {temp1 = 1/temp; document.keypad.list.value = "1/x, x="}
					if (code == 7) {temp1 = temp * temp; document.keypad.list.value = "x*x, x="}
					document.keypad.list.value += temp;
					document.keypad.display.value = round(temp1);
				}

				function fsolve()
				{
					var a = document.keypad.c1.value*1;
					var b = document.keypad.c2.value*1;
					var c = document.keypad.c3.value*1;
					if (a==0) {document.keypad.list.value = " Not a Quadratic";
						 document.keypad.display.value = " Equation"}
					else { x1 = (b*b-4*a*c);
						if ( x1 < 0) {document.keypad.list.value = " Imaginary Roots";
							 temp = (Math.sqrt(Math.abs(x1)))/(2*a);
							 x2 = round(-b/(2*a)) + "+/- " + round(temp) + "i";
							 document.keypad.display.value = x2}
						else {
							var x1 = (-b + Math.sqrt(b*b-4*a*c)) / (2*a);
							var x2 = (-b - Math.sqrt(b*b-4*a*c)) / (2*a);
							document.keypad.list.value = "x1 = " + round(x1);
							document.keypad.display.value = "x2 = " + round(x2);
						}
					}
				}

				function change()
				{
					var temp = document.keypad.display.value;
					if (temp.substring(0,1) == "-") {document.keypad.list.value = "";
						 document.keypad.display.value = 0 - document.keypad.display.value * 1}
					if (temp.substring(0,1) != "-") {document.keypad.list.value = "";
							 document.keypad.display.value = "-" + temp.substring(0,temp.length)}
				}

				function eraser()
				{
					document.keypad.list.value = " Start Punching!";
					document.keypad.display.value = "";
					document.keypad.c1.value = "";
					document.keypad.c2.value = "";
					document.keypad.c3.value = "";
					link[1]=0; link[2]=0; link[3]=0;
				}

				function backer()
				{
					var temp = document.keypad.display.value;
					document.keypad.display.value = temp.substring(0,temp.length*1 -1);
				}
				var memory = 0;

				function mem(val)
				{
					if (val == 1 ) {document.keypad.list.value = " --> Memory In";
							 memory = document.keypad.display.value * 1}
					if (val == -1) {document.keypad.display.value = memory}
					if (val == 0 ) {document.keypad.list.value = " Memory Erased";
							 document.keypad.display.value = ""; memory = 0}
				}

				function message()
				{
					alert('\n\nSend your comments and suggestions to:\n\n ----> brihspti@iitk.ac.in <----');
				}

				function travel(link)
				{
					window.open(link,"calculator","toolbar=1,location=1,status=1,scrollbars=1,directories=1,copyhistory=1,menubar=1,resizable=1")
				}
				var screen=" ";

				function eraser2()
				{
					var ans = confirm('\nDo you want to clear the entire Calculator Pad?\n');
					if (ans) {screen = document.notes.junk.value; document.notes.junk.value = "";}
				}

				function copy()
				{	
					document.notes.junk.value = document.keypad.list.value+"\n"+document.keypad.display.value+"\n"+document.notes.junk.value;
				}
				function help()
				{
					screen = document.notes.junk.value;
					msg1 = "Following are some of the\ncalculator functions:\n";
					msg2 = "\n(<-> M) - Erase Memory Contents\n(--> M) - Memory In\n(<-- M) - Memory Out";
					msg3 = "\n(<--) - Erase last character\n(x^y) - X to the power of Y";
					msg4 = "\n\nTo Go Back, click 'Restore Calculator Pad'";
					document.notes.junk.value = "";
					document.notes.junk.value = msg1 + msg2 + msg3 + msg4;
				}

				function restore()
				{
					document.notes.junk.value = "";
					document.notes.junk.value = screen;
				}
      			</SCRIPT>
      		</P>
      	##	<P class="header" ><b>Scientific Calculator </b></P>
		<size="4">		<b>$ScientCal </b> </size>
      		<TABLE borderColor=#9fbad0 cellSpacing=0 cellPadding=2 	border=0 style="border-collapse: collapse">
        	<TBODY>
			<TR> <TD vAlign=top align=middle rowSpan=2>
            		<TABLE bgColor=#f5ecff border=0>
              		<TBODY>
              			<TR>
                		<TD vAlign=center align=middle bgColor=#dbe4f2 rowSpan=2>
                		<FORM name=keypad> <CENTER>
                			<TABLE borderColor=#111111 cellSpacing=0 cellPadding=2 border=1 bordercolorlight="#66CCFF" bordercolordark="$ui.bgcolor" style="border-collapse: collapse">
                  				<TBODY> 
						<TR><TD align=middle colSpan=9><P align=center class="header">$brih_calculator</P></TD></TR>
                	<TR>
			<TD vAlign=center align=middle colSpan=6><FONT face=Verdana size=2><INPUT size=22 value=" Start Punching!" name=list></FONT> </TD>
                   	<TD vAlign=center align=middle colSpan=3><INPUT onclick=eraser() type=button value="$brih_clear" name=alex1> </TD>
			</TR><TR>

			<TD vAlign=center align=middle colSpan=6><FONT face=Verdana size=2><INPUT size=22 name=display></FONT> </TD>
                      	<TD vAlign=center align=middle colSpan=2><INPUT onclick=equal() type=button value=" = " name=alex2> </TD>
                      	<TD vAlign=center align=middle><INPUT onclick=backer() type=button value=" <-- " name=alex3></TD>

			</TR><TR>

                      	<TD vAlign=center align=middle><INPUT onclick=enter(1) type=button value=" 1 " name=alex4> </TD>
                      	<TD vAlign=center align=middle><INPUT onclick=enter(2) type=button value=" 2 " name=alex5> </TD>
                      	<TD vAlign=center align=middle><INPUT onclick=enter(3) type=button value=" 3 " name=alex6> </TD>

                      	<TD></TD>

                      	<TD vAlign=center align=middle><INPUT onclick="calculate('/')" type=button value=" / " name=alex7></TD>
                      	<TD></TD>

                      	<TD vAlign=center align=middle><INPUT onclick=calc(1) type=button value=" sin " name=alex8> </TD>
                      	<TD vAlign=center align=middle><INPUT onclick=calc(4) type=button value=" x1ý2 " name=alex9> </TD>
                      	<TD vAlign=center align=middle><INPUT onclick=mem(0) type=button value="<->M" name=alex10> </TD>
			
			</TR><TR>

                      <TD vAlign=center align=middle><INPUT onclick=enter(4) type=button value=" 4 " name=alex11> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=enter(5) type=button value=" 5 " name=alex12> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=enter(6) type=button value=" 6 " name=alex13> </TD>

                      <TD></TD>

                      <TD vAlign=center align=middle><INPUT onclick="calculate('*')" type=button value=" * " name=alex14></TD>

                      <TD></TD>

                      <TD vAlign=center align=middle><INPUT onclick=calc(2) type=button value=cos name=alex15> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=calc(7) type=button value=" x2 " name=alex16></TD>
                      <TD vAlign=center align=middle><INPUT onclick=mem(1) type=button value="--> M" name=alex17> </TD>

			</TR><TR>

                      <TD vAlign=center align=middle><INPUT onclick=enter(7) type=button value=" 7 " name=alex18> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=enter(8) type=button value=" 8 " name=alex19> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=enter(9) type=button value=" 9 " name=alex20> </TD>

                      <TD></TD>

                      <TD vAlign=center align=middle><INPUT onclick="calculate('-')" type=button value=" - " name=alex21> </TD>

                      <TD></TD>

                      <TD vAlign=center align=middle><INPUT onclick=calc(3) type=button value="tan " name=alex22> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=calc(6) type=button value="1/x " name=alex23> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=mem(-1) type=button value="<-- M" name=alex24></TD>
			
			</TR><TR>

                      <TD vAlign=center align=middle><INPUT onclick=enter(0) type=button value=" 0 " name=alex25> </TD>
                      <TD vAlign=center align=middle><INPUT onclick="enter('.')" type=button value=dot name=alex26></TD>
                      <TD vAlign=center align=middle><INPUT onclick=change() type=button value=" +|- " name=alex27></TD>
                      
			<TD></TD>
                      
		     <TD vAlign=center align=middle><INPUT onclick="calculate('+')" type=button value=" + " name=alex28></TD>

                      <TD></TD>

                      <TD vAlign=center align=middle><INPUT onclick=pie() type=button value=" pi " name=alex29> </TD>
                      <TD vAlign=center align=middle><INPUT onclick=calc(5) type=button value=" Ln " name=alex30></TD>
                      <TD vAlign=center align=middle><INPUT onclick="calculate('p')" type=button value=" x^y " name=alex31> </D>
			</TR><TR>

                      <TD vAlign=center align=middle colSpan=9></TD>
			</TR><TR>

                      <TD vAlign=center align=middle colSpan=9><B>&nbsp; 
			<FONT face=Verdana size=2> <INPUT size=4 name=c1></FONT> </B>X<SUP>2</SUP>
			<FONT size="3"><B> + </B> </FONT><B>
			<FONT face=Verdana size=2><INPUT size=4 name=c2></FONT> </B>X<FONT size=3><B> +</B></FONT><B> 
			<FONT face=Verdana size=2><INPUT size=4 name=c3></FONT> <FONT size=3>= 0</FONT> </B>
			<FONT face=Arial size=2><INPUT onclick=fsolve() type=button value="$brih_solve" name=alex></FONT> 
                        <B>&nbsp;</B> </TD>
						</TR>
						</TBODY>
					
					</TABLE></CENTER>
				</FORM>
			</TD></TR></TBODY>
			</TABLE>
            		##<CENTER><INPUT onclick=help() type=button value=" Help " name=alex class="small">  </CENTER></TD>
            		<CENTER><INPUT onclick=help() type=button value="$brih_help  " name=alex class="small">  </CENTER></TD>
			<TD vAlign=center align=middle bgColor=#dbe4f2>
			##<CENTER><p class="header">Calculator Pad </CENTER></TD>
			<CENTER><p class="header">$Calculator_pad </CENTER></TD>
			</TR><TR>
          		<TD vAlign=center align=middle>
            			<FORM name=notes> <!--Insert here TEXTAREA--><TEXTAREA name=junk rows=10 wrap=virtual cols=40></TEXTAREA> 
            			<BR>
            			<CENTER>
			            ##<INPUT onclick=copy() type=button value="Paste Calculator Display" name=alex class="small"> 
			            <INPUT onclick=copy() type=button value="$CalculatorDisplay_Paste" name=alex class="small"> 
            
	 			   ##<INPUT onclick=restore() type=button value="Restore Calculator Pad" name=alex class="small"> 
	 			   <INPUT onclick=restore() type=button value="$CalculatorPad_Restore" name=alex class="small"> 
            			   <INPUT onclick=eraser2() type=button value="$brih_clear $Calculator_pad" name=alex class="small"> 
            			</CENTER></FORM>
			</TD></TR></TBODY>
		</TABLE>
      </TABLE>
</BODY>
