#*
 * @(#) ForgotPassword.vm
 * Copyright (c) 2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singhsatyapal@rediffmail.com ">Satyapal Singh</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_login $WikiPage | $brih_forgot $brih_pwd")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()  

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
  <tr align=right>
    <td>
      <font face="$ui.sansSerifFonts" size=3>
        <b>
          <a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>$brih_login $WikiPage</a> | $brih_forgot $brih_pwd 
	</b>
      </font>        
    </td>
  </tr>
</table><br>
#if($status == "HintQus")

<form name=frm method="post" action="$link.setPage("BrihaspatiLogin.vm").setAction("ForgotPassword")">
	<table align=center bgcolor="$ui.tableColor" border=1 cellpadding="1" cellspacing=1>  
           	<tr><td colspan=2 bgcolor="$ui.menuColor" align="center"><font size=4><b>$brih_hint $brih_qus</b></font></td></tr>
        	<tr>
                	## #entry1Cell("$brih_qus" "$qname")
			<td align=right colspan=3 bgcolor="$ui.tableColor"> $qname
			<td align=right><b> $brih_qus</b>
        	</tr>
                <tr>
                	## #formCell("$Profile_Ans" "HintAns" "")
			<td align=right colspan=3><input type="txt" size="30" name="HintAns" value=""></td>
			<td><b> $Profile_Ans</b></td>
                </tr>
        	<tr>
        	<td colspan=2 align=center>
			<input type="hidden" name="lang" value=$lang>
          		<input type="hidden" name="actionName">
          		<input type="hidden" name="uid" value=$uid>
          		<input type="hidden" name="username" value=$username>
          		<input type="button" name="eventSubmit_doSendNewPassword" value="$brih_submit" onClick="checkAnswer(document.frm,this);"/>
        	</td>
        	</tr>
	</table>
</form>
#else
<form name=frm method="post" action="$link.setPage("ForgotPassword.vm").setAction("ForgotPassword")">
	<table border=1 cellpadding=5 align=center  bgcolor="$ui.tableColor">
      		<tr>
			## #formCell("$brih_login $brih_name" "username" "")
			<td align=right colspan=3><input type="txt" size="30" name="username" value=""></td>
			<td align=right>$brih_login $brih_name </td>
      		</tr>
        	<tr> 
	  	<td align=center colspan=2>
	    	<font face="$ui.sansSerifFonts">
			<input type="hidden" name="lang" value=$lang>
            		<input type="hidden" name="actionName" >
            		#if($lang == "english")
			<input type="button" name="eventSubmit_doCheckUser" value="$brih_get $brih_pwdNew" onClick="checkUserId(document.frm,this);">
			#else
			<input type="button" name="eventSubmit_doCheckUser" value="$brih_pwdNew $brih_get " onClick="checkUserId(document.frm,this);">
			#end
            	</font>
          	</td> 
        	</tr>
    	</table>
</form>
#end

<SCRIPT LANGUAGE="javascript">
        function checkUserId(frm,field)
        {
                if(frm.username.value=="")
                {
                        alert("Please Fill The User Name!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
        function checkAnswer(frm,field)
        {
                if(frm.HintAns.value=="")
                {
                        alert("Please Fill Hint Answer!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
</SCRIPT>
