

$page.setTitle("Login Page | forgot password")
$page.setBgColor($ui.bgcolor)
  

<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>?????  ?????</a> | ????  ??? ??????? 
</td></tr>
</table>
<form name=frm method="post" action="$link.setPage("ForgotPassword.vm").setAction("ForgotPassword")">
<table align=left width=100% bgcolor="$ui.tableColor">
		<tr><td width="15"> <font face="$ui.sansSerifFonts">Login Name </td>
                <td width="40"><input type="text" size="30" name="username" value=""></td>
</tr>
     
        	<tr bgcolor="$ui.menuColor"> 
	  		  	<td colspan=2>
			<input type="hidden" name="lang" value=$lang>
            		<input type="hidden" name="actionName" >
            					<input type="button" name="eventSubmit_doCheckUser" value="???????(??????)???? ???  ??????? " onClick="checkUserId(document.frm,this);">
			          	</td> 
        	</tr>
</table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkUserId(frm,field)
        {
                if(frm.username.value=="")
                {
                        alert("Please Fill The User Name!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
        function checkAnswer(frm,field)
        {
                if(frm.HintAns.value=="")
                {
                        alert("Please Fill Hint Answer!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
</SCRIPT>
