

$page.setTitle("Instructor Home | Change Password")
$page.setBgColor($ui.bgcolor)


<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>????? ??????</a> | ????????? ???????? 
	</td>
</tr>
</table>
<br>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,changePassword.vm").setAction("changePW_User")">
<table border=1 align=center cellspacing=1 cellpadding=5>
	<tr>
	<td colspan=2 align="center" bgcolor="$ui.menuColor"><font size=4><b>????????? ???????? </b></font></td></tr>
        <tr>
        #formPasswordCell("????? ?????????" "oldpassword" "")
        </tr>
        <tr>
        #formPasswordCell("???? ?????????" "newpassword" "")
        </tr>
        <tr>
        #formPasswordCell("??????? ???? ????????? ?????" "retypepassword" "")
        </tr>
        <tr>
        <td colspan=2 bgcolor="$ui.menuColor" align=center>
          <input type="hidden" name="actionName">
          <input type="hidden" name="status" value=$status>
          <input type="button" name="eventSubmit_doUpdate" value="????? ??" onClick="checkPassword(document.frm,this);"/>
          <input type="reset" name="reset" value="?????? ??? ??" onClick="checkClear(document.frm,this);"/>
        </td>
        </tr>
</table>
</form>
<SCRIPT LANGUAGE="javascript">
        function checkPassword(frm,field)
        {
                if((frm.oldpassword.value!="") && (frm.newpassword.value!="")  && (frm.retypepassword.value!=""))
                {
			if(frm.oldpassword.value == frm.newpassword.value)
			{
				alert("The values in 'Old Password' and 'New Password' fields are same !!")
			}
			else
			{
				if(frm.newpassword.value == frm.retypepassword.value)
				{
                                	frm.actionName.value=field.name;
                                	frm.submit();
				}
				else
				{
					alert("The values in 'New Password' and 'Retype New Password' fields are not same !!")
				}
			}
                }
                else
                {
                        alert("None of the fields can be empty !!");
                }
        }
        function checkClear(frm,field)
        {
	        frm.oldpassword.value="";
        	frm.newpassword.value="";
	        frm.retypepassword.value="";
        }
</SCRIPT>
