#*

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxUserAlreadyExists.vm,v 1.1 2004/11/16 09:34:53 ynsingh Exp $

*#

<font face="$ui.sansSerifFonts">
The username <b>$username</b> is currently is use. Usernames
must be unique for all users, please choose another username.
</font>

