#*

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxMissingRequiredInputs.vm,v 1.1 2004/11/16 09:34:53 ynsingh Exp $

*#

<font face="$ui.sansSerifFonts">
The following fields are required and must be entered before
this request can be processed:
<p>
#foreach ($missingRequiredInput in $missingRequiredInputs)
<b>$missingRequiredInput</b>
<br>
#end
</font>

