



<table bgcolor="$ui.tableColor" width=100% align="center">
    <tr bgcolor="$ui.menuColor"> <td colspan=7>
        <a href=$link.setPage("index.vm")>Admin's Home</a> |
        <a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")>User Management</a> | Attendance Report
     </td></tr>
<tr>
        <td><a href="$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")">Add User</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","sclist")>Student Course List</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor")>Delete Instructor</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student")>Delete Student</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","AddMUser")>Add Multiple  User</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","UPhoto")>Upload Photo</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,Attendence_seet.vm")>Attendance Report</a></td>
</tr>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_Admin,Attendence_seet.vm").addPathInfo("status","ForallUser")">


        <tr bgcolor="$ui.menuColor">
                                <td align=left colspan=7>
                        <b>Match String </b>
                        <input align=center type="text" name="valueString" value="" >
                        <input type="button" name="Search" value="Search" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                </td>
        </tr>

	<tr>	
				<td colspan=7 align="left">
	                <b> Attendance Report For <font color=green><i> Instructor </i></b></font>
                </td>
	</tr> 
  	<tr>
		<td colspan=7>
      								<tr bgcolor="$ui.menuColor">
				<td colspan=7 align="left"><b>
					Instructor Name  
				</td>
			</tr>
						</td>
		</tr>
</table>

<SCRIPT language="JavaScript">
        function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
</SCRIPT>
