

$page.setTitle("Home | $course | All Course News")
$page.setBgColor($ui.bgcolor)


<table bgcolor="$ui.tableColor" width=100%>
         <tr>
             <td>
                <font face="$ui.sansSerifFonts"><b>
        	        <a href=$link.setPage("call,IndexHome.vm")>Maison</a> | 
			<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | Tous  Cours  de nouvelles
                </font>
              </td>
        </tr>
</table>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=300");
        }
</SCRIPT>
<br>

<form name="frm" method="post">
<blink><b>Nouvelles ne laboure pas la date d'aujourd'huiâ?¦.  </b></blink>
</form>
