


$page.setBgColor($ui.bgcolor)
	$page.setTitle(" Content Restore")

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
        <td>
        <font face="$ui.sansSerifFonts" size=3>
        <b>
        <a href=$link.setPage("call,Admin.vm")>Admin's Heim</a> | 
			<a href=$link.setPage("call,Backups,Restoration.vm")>Wiederherstellung </a> |  
					Inhalt Wiederherstellung
			        </td>
</tr>
</table>
<br>

<form name=uploadform  method="post" enctype="multipart/form-data" action="$link.setPage("call,Backups,Restoration.vm").setAction("AdminRestoreAction")" >
  <div align="center">

	<table bgcolor="$ui.menuColor" cellpadding="5" border="1" width="40%">
        
      	
      <tr>
        #fileUpload ("Akte" "file")
      </tr>


      <tr>
        <td align="center" bgcolor="$ui.buttonBoxColor" colspan="2">

          <font face="$ui.sansSerifFonts">
	          <input type="button" name="eventSubmit_doRestoreContent" value="Wiederherstellung" onClick="checkValues(document.uploadform,this);"/>
		 <input type="hidden" name="actionName">
        </td>
      </tr>
      
    </table>
  </div>
</form>
<SCRIPT LANGUAGE="javascript">
        function checkValues(uploadform,field)
        {
                if(uploadform.file.value!="") 
                {
                                uploadform.actionName.value=field.name;
                                uploadform.submit();
                }
                else
                {
                        alert("Please browse and select the file !!");
                }
        }

</SCRIPT>
