

$page.setTitle("Enter the Question")
$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
        <td>
        <font face="$ui.sansSerifFonts" size=3>
        <b>
        <a href=$link.setPage("call,Question_Bank,Question_bank.vm")>????  ?????? (???? )</a> |
		<a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>???   ????  ?????? (???? )</a> |
	<a href=$link.setPage("call,Question_Bank,Question_List.vm").addPathInfo("modulename","$modulename").addPathInfo("Ques_Type","$Ques_Type")>???   Question's in $modulename </a> |   ??????  ????  ???????????  ????  	        </td>
</tr>
</table>
<br>

<form name="frm" method="post" action="$link.setAction("Question_Bank")">
<table border=1 align="center" width="60%" bgcolor="$ui.tableColor" cellpadding="2">  
  <tr>
   <td width=30% align="centre" bgcolor="$ui.tableColor">
     <b><font face="$ui.sansSerifFonts">???? </font></b>
   </td>
   <td	width=70% align="left" bgcolor="$ui.tableColor">
     <font face="$ui.sansSerifFonts">
      <textarea name="Question" rows=3 cols=50  ></textarea >
     </td>
 </tr>
  <tr> 
	#formCell("?????? ?" "op1" "")
 </tr> 
  <tr> 
	#formCell("?????? ??" "op2" "")
 </tr> 
  <tr> 
	#formCell("?????? ??" "op3" "")
 </tr> 
  <tr> 
	#formCell("?????? ??" "op4" "")
 </tr> 
  <tr> 
	#formCell("?????? ?" "op5" "")
 </tr> 
  <tr> 
	#formCell("?????? ??" "op6" "")
 </tr> 
  <tr> 
  	<td width=30% align="centre" bgcolor="$ui.tableColor">
    	<b><font face="$ui.sansSerifFonts">  ????? </font></b>
   	</td>
   	<td width=70% align="left" bgcolor="$ui.tableColor">
    	<font face="$ui.sansSerifFonts">
      	<select name="Answer" size=1>
	 <option value=>
         <option value="A">?</option>
         <option value="B">??</option>
         <option value="C">??</option>
         <option value="D">??</option>
         <option value="E">?</option>
         <option value="F">??</option>  
      	</select> 
   	</td>
 </tr> 
  <tr> 
	<td width=30% align="centre" bgcolor="$ui.tableColor">
        <b><font face="$ui.sansSerifFonts">????????</font></b>
        </td>
        <td  width=70% align="left" bgcolor="$ui.tableColor">
        <font face="$ui.sansSerifFonts">
        <textarea name="hint" rows=3 cols=50  ></textarea >
        </td>
	
 </tr> 
<tr>
<td align=center colspan=2 bgcolor="$ui.menuColor">  
<font face ="$ui.sansserifFonts">
	  		<input type="reset" value="????  ?????"> 
		<input type="button" name="eventSubmit_doEditQuestion" value="??????  ????" onClick="checkValue(document.frm,this);">
  		<input type="hidden" name="qid" value=$qid>
	  <input type="hidden" name="modulename" value=$modulename> 
  <input type="hidden" name="actionName" value="">
  <input type="hidden" name="mode" value=$mode>
  <input type="hidden" name="FromPath" value=$FromPath>
  <input type="hidden" name="Ques_Type" value="Multiple">
</font>
</td>
</tr>
</table>
</form>

<script LANGUAGE="JAVASCRIPT">
        function checkValue(frm,field)
        {
                if(frm.Question.value!="")
                {
			if((frm.op1.value!="") && (frm.op2.value!="") && (frm.op3.value!="") && (frm.op4.value!=""))
			{
                        	frm.actionName.value=field.name;
                        	frm.submit();
			}
			else
			{
                        	alert("Please write minimum four answer !!");
                        	frm.op1.focus();
			}
                }
                else
                {
                        alert("Please write Question !!");
                        frm.Question.focus();
                }
        }
</script>
