

$page.setTitle("User Home Page")
$page.setBgColor("bgcolor")



<table bgcolor="$ui.tableColor" width=100% align=left>
<tr bgcolor="$ui.menuColor"><td align=center colspan="2">
	<font face="$ui.sansSerifFonts"><b>??????? 
	  	<b>$username</b>
	</b></font>
</td></tr>

               
    		
		
    		    		    		    		<tr bgcolor="$ui.menuColor">
</tr>
</table>

