

$page.setTitle("Admin Home | User Management | Search Student | Student Details")

$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.menuColor" width=100%>
<tr>
<td>
<font face="$ui.sansSerifFonts" size=3>
<b><a href=$link.setPage("Index.vm")>?????????? ???</a> |
<a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")>??????? ????????</a> |
<a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","sclist")>?????????    ???</a> | ?????????????    ?????
</td>
<td align=right>
</td>
</tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
    <tr>
        		<td><font size=3><b>??????  ??? ???</b></font></td>
        		<td><font size=3><b>????????? ???</b></font></td>
        		<td><font size=3><b>? - ???</b></font></td>
        		<td><font size=3><b>   </b></font></td>
            </tr>
	    </tr>
<tr>
	<td bgcolor="$ui.menuColor" colspan=4 align=left>
 	
	<a href="$link.setPage("call,UserMgmt_Admin,StudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_first)">?????</a> &nbsp;
	<a href="$link.setPage("call,UserMgmt_Admin,StudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_pre)">???????</a> &nbsp;
	<a href="$link.setPage("call,UserMgmt_Admin,StudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex)">?????</a> &nbsp;
	<a href="$link.setPage("call,UserMgmt_Admin,StudentList.vm").addPathInfo("queryList",$query).addPathInfo("value",$value).addPathInfo("startIndex",$check_last)">??????</a> &nbsp;
	  </td>
 </tr>
</table>
