
 
$page.setTitle("Login | Index | Question Bank")
$page.setBgColor("$ui.bgcolor")

<table bgcolor="$ui.tableColor" width=100%>
<td align="right">
        <font face="$ui.sansSerifFonts"><b>
 	????? ????
        | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> 
        | <a href=$link.setPage("call,IndexHome.vm")>????</a> 
        </font>
</td>
</table>
<br>
<table bgcolor="$ui.tableColor" width=100% align=center>
<tr>
<td align=center>
<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
   <font size=4><b>???? ?????? ?? ?????  ???  ????????</b></font>
</marquee>
</td>
</tr>
</table>


<br>
<table width="60%" align="center" bgcolor="$ui.menuColor">
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,Create_Bank_Repository.vm")> ???? ????? ?? ?????? ?? ????? ?? ????? </a>
                </td></tr>
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")> ????? ???? ???   ????? ?? ?????  </a>
	
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,UploadQuestions.vm")></a> ???? ???? ????  
                </td></tr>
</td>
</tr>
</table>
