

$page.setBgColor($ui.bgcolor)
$page.setTitle("Home | $course | Communication | Notices | Send Notice")

<table bgcolor="$ui.tableColor" width=100%>
	<tr>
		<td>
		<font face="$ui.sansSerifFonts">
		 
			<a href=$link.setPage("call,Index.vm")><b>?????</a> | 
			<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")><b>$course</a> | 
							<a href=$link.setPage("call,CourseMgmt_User,Communication.vm")><b>?????</a> |  
				<a href=$link.setPage("call,Notice_User,Notices.vm")>????? </a> |
						?????  ????? 
				</font>
	</tr>
</table>

<br>

<form name=frm method="post" action="$link.setPage("call,Notice_User,Notices.vm").setAction("Notice_Send_Delete")">
  <div align="left">
    <br>
    <table align=center bgcolor="$ui.tableColor" cellpadding="0" cellspacing=0 border=1>
        
      		<tr bgcolor="$ui.menuColor">
					<td align=center>
			<font size=4 face="$ui.sansSerifFonts"><b><i>????  ???? ???? ??? ????? ????? </i></font>
			</td>
			<td align=center>
			<font size=4 face="$ui.sansSerifFonts"><b><i>??????? ??  ???</i></font>
			</td>
			</tr>

				
    <tr>
		#formCell("???? <font color=red>*</font>" "subject" "")
    </tr>

     <tr>
	  <td bgcolor="$ui.tableColor">
	  	<b>
	  	<font face="$ui.sansSerifFonts" size=3>
	  	???  ??  ?????  ????
	  	</font>
	  	</b>
	  	</td>
     	  <td>
    	  	<select name="role" size=1>
		        	        <option value="all">???
	        
		  	</option>
	  	</select>
	 </td>
     
	 
  </tr>
	
    <tr>
	  <td bgcolor="$ui.tableColor">
	  	<b>
	  	<font face="$ui.sansSerifFonts" size=3>
	  	?????	
	  	</font>
	  	</b>
	  	</td>
	<td colspan=1>
	<textarea name="message" rows=10 cols=60></textarea>
	</td>
   </tr>
			    				<tr>
					#formCell("?????  ??  ???  ( ?????  ??? )" "expiry" "1")
				</tr>
                        
	
    
      <tr>
        <td align=center bgcolor="$ui.menuColor" colspan=2>
          

          <font face="$ui.sansSerifFonts">
	  <input type="hidden" name="mode1" value="$mode1">
          <input type="hidden" name="val" value="$val">
         
	  <input type="hidden" name="actionName">
		  <input type="button" name="eventSubmit_doSend" value="?????" onClick="checkField(document.frm,this);"/> 
	    
          </font>
        </td>
      </tr>
      
    </table>
  </div>
</form>

<SCRIPT LANGUAGE="javascript">

	function checkField1(frm,field)
        {
                if(frm.message.value!="")
                {
			frm.actionName.value=field.name;
                        frm.submit();

                }
                else
                {
                        alert("Message can not be empty !!");
                }
        }

        function checkField(frm,field)
        {
                if(frm.subject.value!="" && frm.message.value!="")
                {
			 if((frm.expiry.value>=1) && (frm.expiry.value<=365))
                                {
                                        frm.actionName.value=field.name;
                                        frm.submit();
                                }
                         else
                         	alert("Deletion Time should not be less than 1 day and greater than 365 days");

                }
                else
                {
                        alert("Subject and Message can not be empty !!");
                }
        }
</SCRIPT>
