
#*
 * @(#)StudentCourselist.vm
 *  Copyright (c) 2005 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@gmail.com ">Shaista</a> 
 *#

$page.setTitle("Admin Home | User Management | Search Student | Course Details for '$username'")
$!data.getMessage()

$page.setBgColor($ui.bgcolor)
<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr align="right">
<td>
<font face="$ui.sansSerifFonts" size=3>
<b><a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_Of1 $brih_home</a> |
<a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")>$brih_mgmt $brih_usr</a> |
<a href=$link.setPage("call,UserMgmt_Admin,SelectUser.vm")>$brih_ser_student</a> | $Profile_user $brih_course 
</b>
</td>
</tr>
</table>
<br>
<FORM ENCTYPE="multipart/form-data" NAME="frm" METHOD="POST" ACTION="$link.setPage("call,UserMgmt_Admin,StudentCourselist.vm").setAction("RemoveStudentCourse").addPathInfo("username",$username)">
<table border=1 align=center width=40% cellspacing="$ui.tableCellSpacing" cellpadding=5 bgcolor="$ui.tableColor">
	#foreach($i in $student)
		#if($!i.getFirstName() != "")
		<tr>
			<td width=50% align=center>
				<b>$brih_usr $brih_Of1 $brih_name</b>
			</td>
			<td width=50% align=center>
				<b>$brih_student $brih_Of1 $brih_name</b>
			</td>
		</tr>
		<tr>
			<td align=center>
				$!i.UserName                                                                                                      
			</td>
			<td align=center>
				$!i.getFirstName() $!i.getLastName()
			</td>
		</tr>
		#else
		<tr>
			<td width=100% align=center>
				<b>$brih_usr $brih_Of1 $brih_name</b>
			</td>
		</tr>
		<tr>
			<td align=center>
				$!i.UserName
			</td>
		</tr>
		#end
	#end
</table>
<br>

<table border=1 align=center width=40% cellspacing="$ui.tableCellSpacing" cellpadding=5 bgcolor="$ui.tableColor">
		#foreach($i in $student)
			<tr>
				<td align=center> 
					##<b>$brih_listCourse</b>
					<b>$brih_all $brih_course1 $brih_list</b>
				</td>
			</tr>
			<tr>
				<td>
				<table  cellspacing="$ui.tableCellSpacing" cellpadding=5 bgcolor="$ui.tableColor">
					#set($count="")
					#foreach($groupname in $groupname)
						<tr align="right">
							<td>$groupname</td>
							<td>
								#set($userAndGroup = "$groupname:$!i.UserName" )
								<INPUT TYPE="CHECKBOX" NAME="$userAndGroup" onClick="addDeleteList(this,document.frm);">
							</td>
						</tr>
						#set($count="$count$userAndGroup^")
					#end
				</table>
				</td>
			</tr>
			<tr>
				<td align=center>
					<INPUT TYPE="SUBMIT" NAME=eventSubmit_doRemove VALUE="$brih_remove"></td></tr>
				</td>
			</tr>
		#end
</table>

<br>
<table align=center border=1 width=60% cellspacing="$ui.tableCellSpacing" cellpadding=5> 
	<tr>
		<td bgcolor="$ui.tableColor"><INPUT TYPE="SUBMIT" NAME=eventSubmit_doRegister VALUE="$brih_reg1"></td>
		<td align="center" bgcolor="$ui.tableColor">
			<select name="group" size=1>
				#foreach($name in $CourseList)
					#if($name.getName() !="global" && $name.getName()!="author")
						<option value="$name.getName()">$name.getName()
					#end
				#end
				</option>
			</select>
		</td>
		<td width=40% bgcolor="$ui.tableColor" align="right">
			<b>$brih_c_msg13</b>
		</td>
	</tr>
</table>

<INPUT TYPE="hidden" NAME=deleteFileNames VALUE="">
</FORM>

<SCRIPT LANGUAGE="javascript">
function addDeleteList(field,frm)
{
if(field.checked)
	{
	frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
	}
else
        {
        var rmFile,index,actualString,preString,postString;
        actualString=frm.deleteFileNames.value;
        index=actualString.indexOf(field.name+"^",0);
        preString=actualString.substring(0,index);
        postString=actualString.substring(index+field.name.length+1);
	actualString=preString+postString;
	
	frm.deleteFileNames.value=actualString;
	}
}
</SCRIPT>																
