#*
 * @(#) UserManagement_Admin.vm
 * Copyright (c) 2007 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@gmail.com ">Shaista</a> 
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | User Management")
$page.setBgColor("$ui.bgcolor")

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>

#set($lang = $data.getUser().getTemp("lang" ).toString())

<tr align="right" >
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_Of1 $brih_home</a> | $brih_mgmt $brih_usr 
	</td>
</tr>
</table>

<br>
<table width=20% align=center cellpadding=5 bgcolor="$ui.menuColor">
<tr>
<td align=center>
<table cellspacing=3>
	<tr>
        <td>
        <a href="$link.setPage("call,UserMgmt_Admin,AddUser.vm")">
        <img src="$content.getURI("/images/$lang/adduser.jpg")"></a><br>
        </td>
        </tr>
        <tr>
        <td>
        <a href=$link.setPage("call,UserMgmt_Admin,SelectUser.vm")>
        <img src="$content.getURI("/images/$lang/StudentCourseList.jpg")"></a></br>
        </td>
        </tr>
        <tr>
        <td>
        <a href="$link.setPage("call,UserMgmt_Admin,UserMgmt_Remove.vm").addPathInfo("role","instructor")">
        <img src="$content.getURI("/images/$lang/RemoveInstructor.jpg")"></a></br>
        </td>
        </tr>
        <tr>
        <td>
        <a href=$link.setPage("call,UserMgmt_Admin,UserMgmt_Remove.vm").addPathInfo("role","student")>
        <img src="$content.getURI("/images/$lang/DeleteStudent.jpg")"></a></br>
        </td>
        </tr>
        <tr>
        <td>
        <a href=$link.setPage("call,UserMgmt_Admin,MultiUserReg_Admin.vm")>
        <img src="$content.getURI("/images/$lang/addmultipleusers.jpg")"></a></br>
        </td>
        </tr>
	<tr>
	<td>
        <a href=$link.setPage("call,UserMgmt_Admin,UserPhoto_Upload.vm")>
        <img src="$content.getURI("/images/$lang/uploadPhoto.jpg")"></a><br>
	</td>
	</tr>
	#*<tr>
	<td>
        <a href=$link.setPage("call,Adminviewall.vm")>
        <img src="$content.getURI("/images/$lang/viewallusers.jpg")"></a>
        </td>    
	</tr>*#
	
  </table>
</td>
</tr>
</table>
