#*
 *@(#)SharedArea.vm
 *Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 *All Rights Reserved.
 *@author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a> 
  *Contributors: Members of ETRG, I.I.T. Kanpur
 *#


$page.setBgColor($ui.bgcolor)
$page.setTitle("$brih_home |$personal $area |$shared $area")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())

<br>
<table bgcolor="$ui.tableColor" width=100%>
	<tr><td>
		<font face="$ui.sansSerifFonts"><b>
	        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		<a href=$link.setPage("call,UserMgmt_User,PersonalArea.vm")>$personal $area</a> | $shared $area  
		</font>
	</td></tr>
</table>
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_User,SharedArea.vm").setAction("UserAreaAction").addPathInfo("seq",$seqno).addPathInfo("actionName","eventSubmit_doMove")">
	<table align="center" width=80% cellpadding="1" cellspacing="1" bgcolor="$ui.tableColor" border="1">
			<tr><td colspan="10" align="center" bgcolor="$ui.menuColor"><b>$brih_listUsr</b></td></tr><br>
			<tr>
			#set($count=0)
			#foreach ($urecord in $userlist) 
				#if ($count==10)
					</tr><tr>
					#set($count=0)
				#end
				<td><a href="$link.setPage("call,UserMgmt_User,SharedArea.vm").addPathInfo("stat","fromSubDirectory").addPathInfo("name",$urecord.getUserName())">$urecord.getUserName()</a></td> 
			#set($count=$count+1)
			#end
			</tr>
		##end

	</table>
	<br>
	<table align="center" bgcolor="$ui.menuColor" cellpadding="3" border="1">
		#if( $stat == "fromSubDirectory" ||$mode1=="move" ) 
			<tr>
        		#if ($lang == "hindi")
				<td colspan="4" align="center"><b>$name $brih_Of2 $shared $brih_file1 </b></td>
			#else
				<td colspan="4" align="center"><b>$shared $brih_file1 $name </b></td>
			#end
</tr>
                	#set($count=0)
	                #foreach($file in $dirContent)
        		        <tr>
			                <td>$file.getName()</td>
					<td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("area","shared").addPathInfo("contents",$uname).addPathInfo("type","UserArea").addPathInfo("filename",$!file.getName())","newWin")>$brih_view</a></td>
					#if($uname == $name)
					<td><a href="$link.setPage("call,UserMgmt_User,SharedArea.vm").addPathInfo("filename",$!file.getName()).addPathInfo("name",$name).addPathInfo("mode","Shared").addPathInfo("mode1","move").addPathInfo("seq",$count)">$brih_move</a></td>
					
					<td><a href="$link.setPage("call,UserMgmt_User,SharedArea.vm").setAction("UserAreaAction").addPathInfo("filename",$!file.getName()).addPathInfo("stat",$stat).addPathInfo("mode","fileRemoval").addPathInfo("name",$name).addPathInfo("stat1","fromshared").addPathInfo("seq",$count).addPathInfo("actionName","eventSubmit_doDelete")" onclick="javascript:return confirm('Do you want to delete this topic')">$brih_delete</a></td>
					#end
				</tr>
			#set($count=$count+1)
			#end
		#end
	</table>
<br>
	<table align="center" bgcolor="$ui.tableColor">
	#if($mode1=="move")
	<tr>
		<td bgcolor="$ui.tableColor">
                         <b><font face="$ui.sansSerifFonts">
			#if ($lang == "hindi")	
				$brih_topic $brih_Of1 $brih_name $brih_select
			#else
                         Select a Topic Name <font color=RED>*</font>
			#end
                          </font></b>
		 </td>
			<td>$fname
			</td>
			 <td><select name="topic" size=1 >
                         #foreach($cvalue in $contentvalue)
                         <option value="$cvalue">$cvalue
                         #end
                        </select>
			<input type="Submit" name="Submit" value=$brih_move>
			<input type="hidden" name="name" value=$name>
			<input type="hidden" name="filename" value=$fname>
			<input type="hidden" name="mode" value=$mode>
			<input type="hidden" name="stat" value="fromSubDirectory">
			</td>
	</tr>
	#end
	</table>
</form>

<script LANGUAGE="JAVASCRIPT">
        function popupWin(urlName,popupName)
        {
                window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
        }

</script>
