


<table bgcolor="$ui.tableColor" width=100% > 
        <tr> <td><b>
        <a href=$link.setPage("call,IndexHome.vm")>Home page</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")> $coursename </a> | </b>
        <a href=$link.setPage("call,Assignment,ASS_subm.vm")> Assegnazione  </a>|</b>
        <a href=$link.setPage("call,Assignment,AssView.vm")> </a> Post Risposta  </b>
        </td></tr>
</table> 
	
	<br>

	<form name=uploadform method="post" enctype="multipart/form-data"  action=$link.setPage("call,Assignment,PostAns.vm").setAction("Assignments")>
	<table width=50% bgcolor="$ui.tableColor" cellpadding="2" align="center" border=1>
<tr bgcolor="$ui.menuColor" >
	
	<td>	<b>Tema nome  </td>
	<td>
		<SELECT name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform)>
                
					<option value=""></option>
		                                </SELECT>	
		<input type="button" name="Go" value="Go" onClick="checkBlank1(document.uploadform,this);" />
	</td>	
		
</tr>   
	<input type="hidden" name="actionName">             
</table>
</form>
<script LANGUAGE="JAVASCRIPT">    
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }
	function checkBlank1(uploadform,field)
        {       
		if(uploadform.topicList.value!="")
                {
			uploadform.actionName.value=field.name;
        	        uploadform.submit();
		} else
			alert("Selected Topic Name should not be empty !!");		
        }
 
        function checkBlank(uploadform,field)
        {	var tList=uploadform.topicList;
                var cTopic=uploadform.contentTopic;
                if(uploadform.topicList.value!="")
                {
			if(uploadform.file.value!="")
			{	
		               	uploadform.actionName.value=field.name;
                                uploadform.submit();
                	}
			else
				alert("Attach file can not empty !!"); 
                }
                else
                	alert("Selected Topic Name should not be empty !!");

        }
        function changeTopic(frm)
        {
                if(frm.topicExisting[0].checked)
                {
                        frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
                }
                if(frm.group.value=="author")
                {

                }
                else
                {
                        frm.contentTopic.focus();
               }
        }
</script>
