$page.DefaultDoctype
<html>
$page.setBgColor("$ui.bgcolor")
##$page.addStyleSheet($content.getURI("resources/css/brihaspati.css"))
#TurbineHtmlHead()

<body >

	<div align="left">
		<table width="100%" border=0>
		  <tr>
			<td>
			  $navigation.setTemplate("DefaultTop.vm")
			</td>
		  </tr>
		  <tr>
			<td align="center">
			  $screen_placeholder
			</td>
		  </tr>
		  <tr>
			<td>
			  $navigation.setTemplate("DefaultBottom.vm")
			</td>
		  </tr>
		</table>
	</div>

	</body>
</html>
