

$page.setBgColor($ui.bgcolor)
$page.setTitle("File Upload")

<table bgcolor="$ui.tableColor" width=100%>
<tr>
<td>
	<font face="$ui.sansSerifFonts"><b>
	<a href=$link.setPage("call,IndexHome.vm")>ì§?</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
 	<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm")>ê³¼ì ? ê´?ë¦¬</a> | 
			ì??ë¡?ë?? ë?´ì?© 
		</font>
</td>
</tr>
</table>

<table width=100%>
<tr>
<td align=right>
	<img src="$content.getURI("/images/hand.gif")">	<a href=javascript:popupWin("/brihaspati2/docs/Upload.html","newWin");>ë??ì??</a>
</td>
</tr>
</table>
<table width="100%">
<tr><td><b>  MB</b></td><td align=right ><b>ì??ë¡?ë??ë¥¼ì??í?? ê³µê°?    MB </b></td></tr>
<table>
<table border="1" bgcolor="$ui.tableColor">
	<tr >
                                        <br>
                                                </td>
        	</tr>
</table>

<script LANGUAGE="JAVASCRIPT">
	function blurTopicName(frm)
	{
		frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
	}
	
	function changeTopic(frm)
	{
		if(frm.topicExisting[0].checked)
		{
			frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
		}
		else
		{
			frm.contentTopic.focus();
		}
	}

	function checkRadio()
	{
		if(document.uploadform.topicExisting[0].checked)
		{
			document.uploadform.contentTopic.blur();
		}
		
	}
	function validate(uploadform,field)
	{	
		var tList=uploadform.topicList;
		var cTopic=uploadform.contentTopic;
		if(uploadform.contentTopic.value!="")
		{
			var totNamedEntries=uploadform.topicList.length;
			for(i=1;i<totNamedEntries;i++)
			{
				if(tList.options[i].text==cTopic.value)
				{
					if(uploadform.topicExisting[1].checked)
					{
						if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
						{
						uploadform.actionName.value=field.name;
                                		uploadform.submit();
						}
						else
						{
						return;
						}
	
					}
				}
			}
			uploadform.actionName.value=field.name;
                        uploadform.submit();
		}
		else
		{
			alert("Topic Name Can not Empty !!");
		}
	}
</script>

<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,Upload.vm").setAction("UploadAction")">
  <div align="left">

    <table align=center bgcolor="$ui.bgcolor" cellpadding="0">
      	<tr>
		<img src="$content.getURI("/images/hand.gif")"><font color="red">ì ?ë°? ë?¹ì? ì?? <b> ì??ë¡?ë??í??ë?? í??ì?¼ì?? í??ì?¼ ì?´ë¦?ì?? '+'</ b> ë¬¸ì??ê°?ë??ì§? ì??ë??ì§? í??ì?¸í??ì?­ì??ì?¤!!</font>
	</tr>
<br><br>
      <tr>
	 <td colspan=4>
         <INPUT TYPE="hidden" name="unpublish" checked=true  value="" >
	<b><input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>ì¡´ì?¬ ì£¼ì ?
	<SELECT name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform)>
	  <option></option>
	  	</SELECT>
	<input type="RADIO" name=topicExisting value="NEWTOPIC" >ì??ë¡?ì?´ ì£¼ì ?
	</td>
	</tr>
	<tr>
	<td colspan=3>
	<INPUT TYPE="CHECKBOX" name="publish" value="Publish"> <b>ê²?ì??</b>
	</td>
	</tr>
      <tr>
	  	<td bgcolor="$ui.tableColor">
  	<b><font face="$ui.sansSerifFonts">ì£¼ì ?  ì?´ë¦?</font> </b>
	</td>
	<td>
	<input type="text" name=contentTopic onFocus=checkRadio() size=30>
    	</td>
      <tr>
              #fileUpload ("1. &nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼  " "file1")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("6.&nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼   &nbsp;" "file6") 
      </tr>
      <tr>
              #fileUpload ("2. &nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼  " "file2")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("7.&nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼   &nbsp;" "file7") 
      </tr>
      <tr>
              #fileUpload ("3. &nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼  " "file3")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("8.&nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼   &nbsp;" "file8") 
      </tr>
      <tr>
              #fileUpload ("4. &nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼  " "file4")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("9.&nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼   &nbsp;" "file9") 
      </tr>
      <tr>
              #fileUpload ("5. &nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼  " "file5")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("10.&nbsp; ì²¨ë¶?í?©ë??ë?¤  í??ì?¼   &nbsp;" "file10") 
      </tr>

      <tr>
        <td colspan=5 align="center" bgcolor="$ui.buttonBoxColor">

          <font face="$ui.sansSerifFonts">

          <input type="button" name="eventSubmit_doUpload" value="ì??ë¡?ë??" onClick="validate(document.uploadform,this);"/>&nbsp;
	<input type="hidden" name="actionName"value="">
    
          </font>
        </td>
      </tr>
      
    </table>
  </div>
</form>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }
</SCRIPT>
