
 
$page.setTitle("Login | Index | Question Bank")
$page.setBgColor("#ffffff")


<table bgcolor="$ui.tableColor" width=100%>
<td>
        <font face="$ui.sansSerifFonts"><b>
        <a href=$link.setPage("call,IndexHome.vm")>Heim</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | Frage Vorstand Management
        </font>
</td>
</table>
<br>
<table bgcolor="$ui.tableColor" width=100% align=center>
<tr>
<td align=center>
<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
	        <font size=4><b>Willkommen im Frage Bank-Behäer</b></font>
	        </marquee>
</td>
</tr>
</table>

<br>
<table width="60%" align="center" bgcolor="$ui.menuColor">
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,Create_Bank_Repository.vm")>  Verursachen Sie Frage Bank Repository  </a>
                </td></tr>
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>  Sehen Sie alle Themen in der Frage Bank an  </a>
	
                <tr><td align="center">
                <b><a href=$link.setPage("call,Question_Bank,UploadQuestions.vm")></a>  Antriebskraft Frage                 </td></tr>
				
</td>
</tr>
</table>
