

$page.setTitle("$brih_login $WikiPage | $brih_forgot $brih_pwd")
$page.setBgColor($ui.bgcolor)
  

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
  <tr align=right>
    <td>
      <font face="$ui.sansSerifFonts" size=3>
        <b>
          <a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>????? ????</a> | ????? ??? ?????  ??? 
	</b>
      </font>        
    </td>
  </tr>
</table><br>
<form name=frm method="post" action="$link.setPage("ForgotPassword.vm").setAction("ForgotPassword")">
	<table border=1 cellpadding=5 align=center  bgcolor="$ui.tableColor">
      		<tr>
						<td align=right colspan=3><input type="txt" size="30" name="username" value=""></td>
			<td align=right>????? ??? </td>
      		</tr>
        	<tr> 
	  	<td align=center colspan=2>
	    	<font face="$ui.sansSerifFonts">
			<input type="hidden" name="lang" value=$lang>
            		<input type="hidden" name="actionName" >
            					<input type="button" name="eventSubmit_doCheckUser" value="??? ?????  ??? ???? ???? " onClick="checkUserId(document.frm,this);">
			            	</font>
          	</td> 
        	</tr>
    	</table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkUserId(frm,field)
        {
                if(frm.username.value=="")
                {
                        alert("Please Fill The User Name!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
        function checkAnswer(frm,field)
        {
                if(frm.HintAns.value=="")
                {
                        alert("Please Fill Hint Answer!!");
                }
                else
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }
</SCRIPT>
