

$page.setBgColor($ui.bgcolor)
$page.setTitle("File Upload")
<script LANGUAGE="JAVASCRIPT">
 	function checkValue(frm,field)
  	{
   		//if((frm.contentTopic.value!="") && (frm.MName.value!="") && (frm.FName.value!=""))
   		if(frm.contentTopic.value!="")
    		{
	 		frm.actionName.value=field.name;
     	 		frm.submit();
 
    		}
		else
		{
    	 		alert("Please insert the value");
		}
    	}
	function blurTopicName(frm)
	{
		//document.uploadform.topicExisting.value="OLDTOPIC";
		frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
	}
	
	function changeTopic(frm)
	{
		if(frm.topicExisting[0].checked)
		{
			frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
		}
		else
		{
			frm.contentTopic.focus();
		}
	}

	function checkRadio()
	{
		if(document.uploadform.topicExisting[0].checked)
		{
			document.uploadform.contentTopic.blur();
		}
		
	}
	function validate(uploadform,field)
        {
                var tList=uploadform.topicList;
                var cTopic=uploadform.contentTopic;
                if(uploadform.contentTopic.value!="")
                {
                        var totNamedEntries=uploadform.topicList.length;
                        for(i=1;i<totNamedEntries;i++)
                        {
                                if(tList.options[i].text==cTopic.value)
                                {
                                        if(uploadform.topicExisting[1].checked)
                                        {
                                                if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
                                                {
                                                	uploadform.actionName.value=field.name;
                                                	uploadform.submit();
                                                }
                                                else
                                                {
                                                	return;
                                                }

                                        }
                                }
                        }
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
                }
                else
                {
                        alert("Topic Name Can not Empty !!");
                }
        }

</script>

<table bgcolor="$ui.tableColor"  width=100%>
<tr>
	<td>
	<font face="$ui.sansSerifFonts"><b>
	<a href=$link.setPage("call,Question_Bank,Question_bank.vm")>???????? ?????</a> |  ????????? ????????? 	</b></font>
	</td>
</tr>
</table>

<br>
     
<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,Question_Bank,Create_Bank_Repository.vm").setAction("Question_Bank")">

<table border=1 align="center" bgcolor="$ui.menuColor" cellpadding=5>
	<tr>
           		          <td colspan=2 align="center"> <b><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>????? ???? ???????? ?????</a></td>
		</tr>
	<tr>
		<td colspan=2 bgcolor="$ui.tableColor">
		<input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>????? ??????
		<SELECT name="topicList" onFocus="changeTopic(document.uploadform)" onChange="changeTopic(document.uploadform)">
		<option></option>
	  			</SELECT>
			<input type="RADIO" name=topicExisting value="NEWTOPIC" >??????? ??????
		</td>
       	<tr>   
  		<td bgcolor="$ui.tableColor">
  			<b><font face="$ui.sansSerifFonts">??????  ????</font></b>
		</td>
		<td>
			<input type="text" name="contentTopic" onFocus=checkRadio() size=26>
    		</td>
	</tr>
      	<tr>
	  <td align=center colspan=2 bgcolor="$ui.menuColor">
          <font face="$ui.sansSerifFonts">
	  <input type="button" name="eventSubmit_doSubmit" value="?????????" onClick="validate(document.uploadform,this);"/>
 	  <input type="hidden" name="actionName" value="">
  	  <input type="reset" value="??????">
    
          </font>
        </td>
      </tr>
    </table>
	  </div>
</form>
