

$page.setBgColor($ui.bgcolor)
			$page.setTitle("Admin Home | List Management | View All Users | Remove User")
	
<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
<a href=$link.setPage("call,Admin.vm")>??????? ????? ??????</a> |
<a href=$link.setPage("call,ListMgmt_Admin,ListManagement.vm")>??????? ???????</a> |
<a href=$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All")>????? ??????????????? ?????? </a> |
			??? ??? ????????????
	</td></tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
	<td><a href="$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit")">View All Course</a></td>
        <td><a href="$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").addPathInfo("mode","All")">View All User</td>
</tr>
</table>
<form method="post" action="$link.setPage("call,ListMgmt_Admin,Adminviewall.vm").setAction("UserAction_Admin")">
<table width=100% align="left" bgcolor="$ui.menuColor">
<tr><td> ????????????</td></tr>
</table>
<table width=100% bgcolor="$ui.tableColor" align="left">
                    
      <tr>
        <td align="left" bgcolor="$ui.tableColor">
          
                </td>
    </tr>
    </table>
</form>

<br>
<table width=60% border=1 bgcolor="$ui.tableColor" align=center>
        </table>
