#*
 * @(#) addStudent.vm
 * Copyright (c) 2007-2008 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home | $brih_course | $brih_student $brih_mgmt | $brih_student $brih_reg")
$!data.getMessage()
<br>
<table bgcolor="$ui.tableColor" width=100%>
	<tr align="right">
		<td>
		<font face="$ui.sansSerifFonts"><b>
		<a href=$link.setPage("call,UserMgmt_User,StudentManagement.vm")>$brih_mgmt $brih_student</a> | $brih_student $brih_Of1 $brih_reg |
                <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
                <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a>
		</font>
		</td>
	</tr>
</table>

<br>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="frm" method="post" action="$link.setPage("call,UserMgmt_User,addStudent.vm").setAction("UserAction_Instructor")">
  <div align="left">
    <table align=center bgcolor="$ui.bgcolor" border=2 cellpadding="5">
      	<tr>
	   <td align=center colspan=2 bgcolor="$ui.menuColor">
		<font size=4><b> $brih_student $brih_Of1 $brih_reg </b></font>
	   </td>
	</tr>
	<tr align="right">
	   <td width="50">
		<font face="verdana,geneva,helvetica">
	   	   <input type="text" size="30" name="UNAME" value="">
		</font>
	   </td>
	   <td>
    	      <b>
		 <font face="verdana,geneva,helvetica">
        	    <font color=red>*</font> $brih_usr $brih_Of1 $brih_name
      		 </font>
    	      </b>
	   </td>
      	</tr>
      	<tr align="right">
	   <td size="50">
	      <font face="verdana,geneva,helvetica">
		<input type="password" size="30" name="PASSWD" value="">
              </font>
  	  </td>
	  <td>
	     <b>
	        <font face="verdana,geneva,helvetica">
        	   $brih_pwd 
      		</font>
    	     </b>
  	 </td>
      	</tr>
	<tr align="right">
	   <td width="50">
	       <font face="verdana,geneva,helvetica">
      	          <input type="text" size="30" name="FNAME" value="">
    		</font>
	   </td>
	   <td>
	      <b>
	          <font face="verdana,geneva,helvetica">
	             $brih_first $brih_name
      		  </font>
    	      </b>
	</td>	
	</tr>
	<tr align="right">
	   <td width="50">
		<font face="verdana,geneva,helvetica">
	           <input type="text" size="30" name="LNAME" value="">
		</font>
	   </td>		
	   <td >
	     <b>
	       <font face="verdana,geneva,helvetica">
	         $brih_last $brih_name
	      </font>
	    </b>
	   </td>
	</tr>
	<tr align="right">
	   <td width="50">
    	      <font face="verdana,geneva,helvetica">
      		 <input type="text" size="30" name="EMAIL" value="">
    	      </font>
 	   </td>
	   <td>
	      <b>
	         <font face="verdana,geneva,helvetica">
		    $brih_email $brih_ID
	         </font>
	      </b>
	   </td>
	</tr>
	<tr>
	    <td align="center" colspan=2 bgcolor="$ui.menuColor">	
    		<input type="hidden" name="actionName">
    		<input type="button" name="eventSubmit_doRegister" value="$brih_reg" onClick="checkField(document.frm,this);"/>
    		<input type="reset" name="Reset" value="$brih_clear"/>
	   </td>
	</tr>
    </table>
  </div>
</form>
</body>

<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
                if(frm.UNAME.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields !!");
                }
        }
</SCRIPT>


