#*
 * @(#)changePassword.vm
 * Copyright (c) 2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:madhavi_mungole@hotmail.com">Madhavi Mungole</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Instructor Home | Change Password")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr align="right">
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>$brih_home</a> | $brih_changePassword 
	</td>
</tr>
</table>
<br>
#if($status=="")
	<table align="right">
	<tr><td>
	#if($lang =="english")	
		$brih_back <a href="$link.setPage("call,Chat,Chat.vm")">$brih_chat</a>
	#else
		<a href="$link.setPage("call,Chat,Chat.vm")">$brih_chat</a> $brih_back
	#end
	</td></tr>
	</table>
#end
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,changePassword.vm").setAction("changePW_User")">
<table border=1 align=center cellspacing=1 cellpadding=5>
	<tr>
	<td colspan=2 align="center" bgcolor="$ui.menuColor"><font size=4><b>$brih_changePassword </b></font></td></tr>
        <tr bgcolor="$ui.tableColor">
        ## #formPasswordCell("$brih_pwdOld" "oldpassword" "")
	<td align="right"> <input type=password name="oldpassword" value="" size="30%"> </td>
	<td align="right">$brih_pwdOld</td>
        </tr>
        <tr bgcolor="$ui.tableColor">
        ## #formPasswordCell("$brih_pwdNew" "newpassword" "")
	<td> <input type=password name="newpassword" value="" size="30%"> </td>
	<td align="right">$brih_pwdNew </td>
        </tr>
        <tr bgcolor="$ui.tableColor">
        ## #formPasswordCell("$brih_pwdNewRetype" "retypepassword" "")
	<td align="right"> <input type=password name="retypepassword" value="" size="30%"> </td>
	<td align="right">$brih_pwdNewRetype </td>
        </tr>
        <tr>
        <td colspan=2 bgcolor="$ui.menuColor" align=center>
          <input type="hidden" name="actionName">
          <input type="hidden" name="status" value=$status>
          <input type="button" name="eventSubmit_doUpdate" value="$brih_submit" onClick="checkPassword(document.frm,this);"/>
          <input type="reset" name="reset" value="$brih_reset" onClick="checkClear(document.frm,this);"/>
        </td>
        </tr>
</table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkPassword(frm,field)
        {
                if((frm.oldpassword.value!="") && (frm.newpassword.value!="")  && (frm.retypepassword.value!=""))
                {
			if(frm.oldpassword.value == frm.newpassword.value)
			{
				alert("The values in 'Old Password' and 'New Password' fields are same !!")
			}
			else
			{
				if(frm.newpassword.value == frm.retypepassword.value)
				{
                                	frm.actionName.value=field.name;
                                	frm.submit();
				}
				else
				{
					alert("The values in 'New Password' and 'Retype New Password' fields are not same !!")
				}
			}
                }
                else
                {
                        alert("None of the fields can be empty !!");
                }
        }
        function checkClear(frm,field)
        {
	        frm.oldpassword.value="";
        	frm.newpassword.value="";
	        frm.retypepassword.value="";
        }
</SCRIPT>
