

$page.setTitle("Login Page | General News")
$page.setBgColor($ui.bgcolor)


<table bgcolor="$ui.tableColor" width=100%>
         <tr>
             <td>
                <font face="$ui.sansSerifFonts"><b>
        	        <a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>Ouverture Maison</a> | Tous  Nouvelles g√©n√©rales 
                </font>
              </td>
        </tr>
</table>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=300");
        }
</SCRIPT>
<br>

<form name="frm" method="post">
<blink><b>Nouvelles ne laboure pas la date d'aujourd'hui‚?¶.  </b></blink>
</form>
