

$page.setTitle("create group")
$page.setBgColor($ui.bgcolor)


<table bgcolor="$ui.tableColor" width=100% > 	<tr><td><b>
	<a href=$link.setPage("call,IndexHome.vm")>????? ??????</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a>|
        <a href=$link.setPage("call,Group_Mgmt,Grpmgmt.vm")>?? ???????</a> |
		????????? ?? ?????</b>
	     </td></tr>
</table>  
<table width=100% > 	<tr>
		<td align ="right">
		<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/joingroupactivity.html","newWin");>???????</a>
		</td>
	</tr>
</table> 
<form name="frm">
<b><font size="4"><font color="blue"><center>???? ??? ??????? ?? ?????? ??? ??????? ???? ??????? .......!!!</center></font></font></b>
</table> </form>

<SCRIPT LANGUAGE="javascript">
	function Changeactivity(frm,field)
	{
		frm.actvy.value=document.frm.activity.value;
		//alert(frm.actvy.value);	
	}
	function go(frm,field)
	{
			location=document.frm.activity.
			options[document.frm.activity.selectedIndex].value
			//alert(location=document.frm.activity);
	}
	function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
        }

</script>
