


$page.setBgColor($ui.bgcolor)

<table bgcolor="$ui.tableColor" width=100%>
<tr>
<td>
	<font face="$ui.sansSerifFonts"><b>
	 		$page.setTitle("$brih_home | $course |$brih_course $brih_content | $brih_view $brih_content")
        	<a href=$link.setPage("Index.vm")>Heim</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | <a href=$link.setPage("call,CourseMgmt_User,CourseContent.vm")>Kurs Inhalt</a> |
							 Anzeigen Inhalt
					</font>
</td>
</tr>
</table>
			auf keinen Fall Vorfeile in the $topic Thema von <b><font color="blue">$course</font></b>
	<SCRIPT language="JavaScript">
function popupWin(urlName,popupName)
{
         window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
}
	//function popupWin()
	//{
	//var win=window.open("", "win", "width=300,height=200");
	//var doc=win.document;
	//doc.open("text/html", "replace");
//doc.write("<HTML><HEAD><TITLE>New Document</TITLE></HEAD><BODY><A HREF='call,Bookmarks,AddBookmarks.vm'>Bookmark</A></BODY></HTML>");
//doc.close();	
//	}
function dirtypop(urlName,popupName)
{
  var generator=window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
  
  generator.document.write('<html><head><title>Popup</title>');
  generator.document.write('<link rel="stylesheet" href="style.css">');
  generator.document.write('</head><body>');
  generator.document.write('<p><a href="javascript:Bookmark()">Save as Bookmark</a> the popup.</p>');
  generator.document.write('</body></html>');
}
function popitup2() {
	newwindow2=window.open('','name','height=200,width=150');
	var tmp = newwindow2.document;
	tmp.write('<html><head><title>popup</title>');
	tmp.write('<link rel="stylesheet" href="js.css">');
	tmp.write('</head><body><p>this is once again a popup.</p>');
	tmp.write('<p><a href="call,Bookmarks,AddBookmarks.vm">Bookmarks</a>.</p>');
	tmp.write('<p><a href="javascript:self.close()">close</a> the popup.</p>');
	tmp.write('</body></html>');
	tmp.close();
}
</SCRIPT>
<script language="JavaScript">
<!--
function onewind()
{
dave=window.open("","min","width=263 height=181");
dave.document.write("<FONT FACE='Arial' SIZE='2'>")
dave.document.write("<hr><br>This script is great for <h1><font color=\"red\">describing</font></h1>links.")
dave.document.write("</FONT>")
}


// --></script>
<script language="JavaScript">
function dirtypop()
{
  var generator=window.open('','name','height=400,width=500');
  generator.document.write('<html><head><title>Popup</title>');
  generator.document.write('<link rel="stylesheet" href="style.css">');
  generator.document.write('</head><body>');
  generator.document.write('<p>This page was generated by the main window.</p>');
  generator.document.write('<p><a href="javascript:self.close()">Close</a> the popup.</p>');
  generator.document.write('</body></html>');
  generator.document.close();
}
function initpop()
{
	var closeElementId='closewindow';
	var closeLinkText='Close window';
	var windowAttributes='width=310,height=400,left=0,top=0,scrollbars=no,location=no';

	if(!window.opener)
	{
		var as,i,popfun
		as=document.getElementsByTagName('a');
		for (i=0;i<as.length;i++)
		{
			if(as[i].target)
			{
				popfun=function(){window.open(this.href,'',windowAttributes);return false;};
				as[i].onclick=popfun;
				as[i].onkeypress=popfun;
			}
		}
	} else {
		var closep,closelink,closetext;
		closelink=document.createElement('a');
		closetext=document.createTextNode(closeLinkText);
		closelink.href='#';
		closelink.appendChild(closetext);
		closelink.onclick=function(){self.close();};
		closelink.onkeypress=function(){self.close();};
		if(document.getElementById(closeElementId))
		{
			document.getElementById(closeElementId).appendChild(closelink);	
		} else {
			closep=document.createElement('p');
			closep.id=closeElementId;
			closep.appendChild(closelink);
			document.body.insertBefore(closep,document.body.firstChild);	
		}
	}
}
// With thanks to Scott Andrew
function addEvent(obj, evType, fn)
{ 
	if (obj.addEventListener)
	{ 
		obj.addEventListener(evType, fn, true); 
		return true; 
	} else if (obj.attachEvent){ 
		var r = obj.attachEvent("on"+evType, fn); 
		return r; 
	} else { 
		return false; 
	} 
}
if (document.getElementById && document.createTextNode)
{
addEvent(window,'load',initpop);
}
</script>


