



<table bgcolor="$ui.tableColor" width=100% align="center">
    <tr bgcolor="$ui.menuColor"> <td colspan=7>
        <a href=$link.setPage("index.vm")>Admin's Heim</a> |
        <a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")>Benutzer Vorstand Management</a> | Attendance Bericht 
     </td></tr>
<tr>
        <td><a href="$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")">Füie hinzu   Benutzer</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","sclist")>Kursteilnehmer Kurs Liste</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor")>Löschen  Ausbilder</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student")>Löschen  Kursteilnehmer</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","AddMUser")>Füie hinzu   Mehrfach Benutzer</a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm").addPathInfo("mode","UPhoto")>Antriebskraft Foto   </a></td>
        <td><a href=$link.setPage("call,UserMgmt_Admin,Attendence_seet.vm")>Attendance Bericht </a></td>
</tr>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_Admin,Attendence_seet.vm").addPathInfo("status","ForallUser")">


        <tr bgcolor="$ui.menuColor">
                                <td align=left colspan=7>
                        <b>Match String </b>
                        <input align=center type="text" name="valueString" value="" >
                        <input type="button" name="Search" value="Suche" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                </td>
        </tr>

	<tr>	
				<td colspan=7 align="left">
	                <b> Attendance Bericht  Für <font color=green><i> Ausbilder </i></b></font>
                </td>
	</tr> 
  	<tr>
		<td colspan=7>
      								<tr bgcolor="$ui.menuColor">
				<td colspan=7 align="left"><b>
					Ausbilder Name  
				</td>
			</tr>
						</td>
		</tr>
</table>

<SCRIPT language="JavaScript">
        function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
</SCRIPT>
