

$page.setTitle("$brih_home | $course | $brih_Wiki |  $brih_edit $brih_Wiki $WikiPage")
$page.setBgColor("$ui.bgcolor")

<style type="text/css">input{width:170px;}</style>

<table bgcolor="$ui.tableColor" width=100%>
<tr>
<td>
        <font face="$ui.sansSerifFonts"><b>
        <a href=$link.setPage("call,IndexHome.vm")>????</a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
        <a href=$link.setPage("call,Wiki,Wiki.vm")>????? </a> 
							        	                	| ?????? ?????? ?????  ????
				                        

        </font>
</td>
</tr>
</table>

<table width=100%>
        <tr>
                <td align=right>
                       <img src="$content.getURI("/images/hand.gif")"> <a href="/brihaspati2/docs/Wikiusermanual.html">??? </a>
                </td>
        </tr>
</table>



<br>
<div align=center>
	<FORM  name=frm method="POST" 
					action="$link.setPage("call,Wiki,Wiki.vm").setAction("Wikieditaction").addPathInfo("fName",$filename).addPathInfo("query",$query).addPathInfo("searchtype",$searchtype)">
					<table align="center" border=1 bgcolor="$ui.tableColor" cellpadding="5" width="10%" >
								<tr>
									<td>
						Page Name  <INPUT type="text" name="createname" size="25">
					</td>
								</tr>

				<tr>
					<td>
<TEXTAREA   name="text" rows="25"  cols="100" >
</TEXTAREA>
					</td>
				</tr>
				<tr>
					<td align="center"> 
						<input type="hidden" name="actionName" >
																					<input type="submit" name="eventSubmit_doEdit" value="?????" />
														 					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 						<input type="reset" name="Clear" value="???? ????" onClick="checkClear(document.frm,this);"/>

					</td>
				</tr>
			</table>
	</FORM>
</div>

<SCRIPT LANGUAGE="javascript">
 	function checkFileName(frm,field)
        {
                j=frm.createname.value;
                if((frm.createname.value!="") && (j.length<26) && (frm.text.value!=""))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        if(j.length >26)
                        {
                                alert("Page name cannot have characters greater than 25 ");
                        }
                        else
                        {
                                alert("Please Fill Page name Field and  Page Content ");
                        }
                }
        }

	function checkClear(frm,field)
        {
        	frm.text.value="";
        }
</SCRIPT>
