

$page.setBgColor($ui.bgcolor)
$page.setTitle("Admin Home | Course User Management | Upload Multiple Course ")



<br>

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>

        <td>
        <font face="$ui.sansSerifFonts" size=3>
        <b>
      <a href=$link.setPage("call,Admin.vm")>Admin's Maison</a> |
      <a href=$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")> Enregistrement  Gestion </a> |
		Cours de multiple de téléchargement   
        </td>
	</b>
</tr>
</table>

<table width=100%>
<tr>
<td align=right>
        <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/RegisterMultiCourseInstructor.html","newWin");>Aide </a>
</td>
</tr>
</table>


<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_Admin,MultiCourseRegister.vm").setAction("RegisterMultiCourseInstructor")">
<div align="left">
<br>
<br>

<table width=50% bgcolor="$ui.menuColor" cellpadding="2" align="center" border=1>
      	<tr>
	<td colspan=2 bgcolor="$ui.menuColor" align="center">
		<font size=4><b>Téléchargement de dossier pour des cours multiples automatiques 	</b></font>
	</td>
	</tr>
	<tr bgcolor="$ui.menuColor" >

        	#fileUpload ("Attacher le dossier  <font color=RED>*</font>" "file")

   	</tr>
      	<tr>
        <td colspan=2 align="center" bgcolor="$ui.buttonBoxColor">
          	<font face="$ui.sansSerifFonts">
          	<input type="button" name="eventSubmit_doUploadcourse" value="Téléchargement  " onClick="CheckFields(document.frm,this);"/>
          	<input type="hidden" name="actionName" value=""/>
    
          	</font>
        </td>
      	</tr>
</table>
<br>
<br>

<table width=60% border=1 bgcolor="$ui.menuColor" align=center>
</table>
  </div>
</form>
<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function CheckFields(frm,field)
        {
                if(frm.file.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
</SCRIPT>
