#*
 * @(#)Calendar_Display.vm
 * Copyright (c) 2006-2007 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:singhnk@iitk.ac.in">Nagendra Kumar Singh</a>
 * @author <a href="mailto:madhavi_mungole@hotmail.com">Madhavi Mungole</a> 
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:shaista.shekh@gmail.com">Shaista</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<br>
<table bgcolor="$ui.menuColor" width="100%">
<tr align=right>
	<td>
	<font face="$ui.sansSerifFonts"><b>
	 #if($data.getUser().getUserName() == "admin")
         $page.setTitle("$brih_ad $brih_home ")
         <a href=$link.setPage("call,Admin.vm")>$brih_ad $brih_Of1 $brih_home</a> | $brih_ad $brih_Of1 $personal $brih_calendar 
	#elseif($path =="personal")
		<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
		$page.setTitle("$brih_home | $personal $brih_calendar")
		$personal $brih_calendar
	#else
		$brih_for $brih_calendar $course |
		$page.setTitle("brih_home | $course | $brih_calendar for $course")
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a>  |
		<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> 
	#end
	</font>
	</td>
</tr>
</table>
<table width="100%">
<tr align=right><td><font color="Gray"><I>$brih_col3</font></I></td>
<td><font color="green"><I>$brih_rh</I></font></td><td><font color="magenta"><I>$brih_col1</I></font></td>
<td><font color="green"><I>$brih_col2</I></font></td><td><I>$brih_star *</I></td> </tr>
</table>

## This is main table
<table align="center" width="100%">
<tr><td align="center">
		 <table align=right bgcolor="$ui.tableColor" border=1>
                <tr><td align=center><font color="green">$brih_col2</font></td></tr>
                <tr><td align=center><b><I>$M</I></b></td></tr>
                #if($hday.size() > 0)
                        #foreach($vhd in [1..31])
                                #if($hday.containsKey($INT.toString($vhd)))
                                <tr>
                                <td bgcolor="$ui.menuColor"><font color="green">$vhd
                                <font color="black"><I>$hday.get($INT.toString($vhd))</I></font></td></tr>
                                #end
                        #end
                #else
                        <tr><td><I>
                                $brih_nohld
                        </I></td></tr>
                #end
                </table>

</td>
<td align="center" Valign="top">
## width added by Shaista
<table align="center" border=1 cellspacing=1 width="100%">
<tr>
	<td align=center>
		<font color="blue" size=3><b><I>$date</I></b></font>
	</td>
	<td align=center>
		<font size=3><b><I>$brih_Da & $brih_time</b></I></font>
	</td>
</tr>
</table>
## width added by Shaista
<table align=center bgcolor="$ui.tableColor" border=1 width="100%">
<tr>
	<td>
		<font face="$ui.sansSerifFonts" size=2><b>
		<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("month",$month1).addPathInfo("year",$year1).addPathInfo("status","previous").addPathInfo("path",$path)><I>$brih_pre $brih_month</I></a>
          	</font>
	</td>
	<td align=center>
		<font face="$ui.sansSerifFont" size=3>
		<b>$M - $year1</b>
		</font>
	</td>
	<td align=right>
		<font face="$ui.sansSerifFonts" size=2><b>
        	<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm").addPathInfo("month",$month1).addPathInfo("year",$year1).addPathInfo("status","next").addPathInfo("path",$path)><I>$brih_nxt $brih_month</I></a>
		</font>
	</td>
</tr>
</table>
<form name="frm" method="post" action="$link.setPage("call,Calendar_Mgmt,Calendar_Display.vm")">
	#set($mon=["$brih_January","$brih_February","$brih_March","$brih_April","$brih_May","$brih_June","$brih_July","$brih_August","$brih_September","$brih_October","$brih_November","$brih_December"])
## width added by Shaista
	   <table align=center bgcolor="$ui.tableColor" width="100%">
	<tr bgcolor="$ui.menuColor"><td >
	<input type ="submit" value="$brih_go">
	#set($count=1)
	<font size=2>	
		<select name="month">
       		<option value="$M">$M
		#foreach($month_name in $mon)
			#if($month_name!=$M)
			<option value="$count">$month_name
			#end
		#set($count=$count+1)
		#end
			</option>
       		</select>
       <select name="year">
       <option value="$year1">$year1
	#foreach($list in $year_list)
		#if($list!=$year1)
		<option value="$list">$list
		#end
	#end	
       		</option>
	</select>
	</font>
	<input type="hidden" name="status" value="current">
	<input type="hidden" name="path" value="$path">
       </td>
       </tr></table>
## width="100%"  addaed by Shaista at place of 20%
        <table border=1 align=center bgcolor="$ui.tableColor" cellspacing="1" cellpadding="3" width="100%">
        ## For printing name of days*****************************************
        <tr>
		#set ($DAY =[" $brihSUN "," $brihMON "," $brihTUE "," $brihWED "," $brihTHU "," $brihFRI "," $brihSAT "])
              	#foreach ($element in $DAY)
               	<td bgcolor="$ui.menuColor">
                	<b><font size=2>$element</font> </b>
		</td>
              	#end
        </tr>
	<tr>
		#if($fday.equals("1"))
			#set($nm=1)
		#end
		#if($fday.equals("2"))
			#set($nm=2)
		#end
		#if($fday.equals("3"))
			#set($nm=3)
		#end
		#if($fday.equals("4"))
			#set($nm=4)
		#end
		#if($fday.equals("5"))
                	#set($nm=5)
		#end
		#if($fday.equals("6"))
			#set($nm=6)
		#end
		#if($fday.equals("0"))
			#set($nm=0)
		#end       
	## Getting  the current date***********************************

		#set ($arr =["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"])
		#foreach($ele in $arr)
			#if ($c.equals($ele))
				#set ($p=$ele)
			#end
		#end 
		## Getting the number of column is blank*******************
		#foreach ($element in $space)
			<td></td>
		#end
		#foreach ($element in $element1)
		#set($d=0)        
	##Verify the current date and then highlighted***************
		#if($element == $p && $currentyear == $year1)
			#if($currentmonth == $month1)
                	<td bgcolor="$ui.menuColor">
			#elseif($nm == $d)
                 	<td bgcolor="$ui.bgcolor">
			#else
				<td>
			#end
                #elseif($nm == $d)
                 	<td bgcolor="$ui.bgcolor">
		#else
				<td>
                #end

		#set($flag="")
			#foreach($ele in $keyword)
				#if($ele.equals("01"))
		          		#set($ele="1")
	              		#end
				#if($ele.equals("02"))
					#set($ele="2")
				#end
				#if($ele.equals("03"))
					#set($ele="3")
				#end
				#if($ele.equals("04"))
					#set($ele="4")
				#end
				#if($ele.equals("05"))
					#set($ele="5")
				#end
				#if($ele.equals("06"))
					#set($ele="6")
				#end
				#if($ele.equals("07"))
					#set($ele="7")
				#end
				#if($ele.equals("08"))
					#set($ele="8")
				#end
				#if($ele.equals("09"))
					#set($ele="9")
				#end
				#if($element == $ele)
					#set($flag="*")
				#end
			#end
			<a href=$link.setPage("call,Calendar_Mgmt,Calendar_Day.vm").addPathInfo("day",$element).addPathInfo("year",$year1).addPathInfo("mon",$month1).addPathInfo("path",$path)>
			 #if($nm==$d)
                                <font color="red">
                        #elseif($hday.containsKey($element))
                                <font color="green">
                        #elseif($acal.containsKey($element))
                                <font color="magenta">
                        #else
                                <font>
                        #end
                        $element </a><font color="black">$flag</font>
                        </font>
                        
			</td>
                  
	## Code for changing the rows*********************************
		#set ($nm=$nm + 1)
			#if($nm ==7)
                          </tr>
		<tr>
		#set($nm=0)
			#end
		#end
		</tr>
       </table>
</td>
<td align="center">
## width added by Shaista
		<table align="center" bgcolor="$ui.tableColor" border=1 width="100%">
                <tr><td align=center><font color="magenta">$brih_col1</font></td></tr>
                <tr><td align=center><b><I>$M</b></I></td></tr>
                #if($acal.size() > 0)
                        #foreach($acd in [1..31])
                                #if($acal.containsKey($INT.toString($acd)))
                                <tr>
                                <td bgcolor="$ui.menuColor"><font color="magenta">$acd
                                <font color="black"><I>$acal.get($INT.toString($acd))</I></font></td></tr>
                                #end
                        #end
                #else
                        <tr><td><I>
                                $brih_noevent
                        </I></td></tr>
                #end
                </table>
</td></tr>
</table>
</form>
