<html>


$page.setTitle("create group")
$page.setBgColor($ui.bgcolor)


<table bgcolor="$ui.tableColor" width=100% >         <tr> <td><b>
        <a href=$link.setPage("call,IndexHome.vm")>Home page</a> | Aggiungere Segnalibri 
     </b></td>
	<td align="right">
          <img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin2("/brihaspati2/docs/Addbookmarks.html","newWin");>Aiuto</a></td>
	</tr>
</table> <br>
<table bgcolor="#e5e5e5" width="100%">
        <tr>
                <td align="center"><b>
                <a href=$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("mode","addBmarks")>Aggiungere Segnalibri </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href=$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("stat1","All")>Gestisci Segnalibri </a></b>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
        </tr>
</table>
<br>
<form name="frm" method="post" action=$link.setPage("call,Bookmarks,ManageBookmarks.vm").setAction("Bookmarks").addPathInfo("stat1","All").addPathInfo("Mode","NoBlank")>
<br>
<table  bgcolor="#e5e5e5" width="100%">
</table>
<table  bgcolor="#e5e5e5" width="100%">
</table>
<table width="100%">
</table>


	<input type="hidden" name="actionName" >
	<input type="hidden" name="dirname" value="">
	<input type="hidden" name="valfolder">
	<input type="hidden" name="dirvalue">
	<input type="hidden" name="stat" value="stat">
	<input type="hidden" name="btname" value="$btname">
	<input type="hidden" name="bturl" value="$bturl">
	<input type="hidden" name="bgroup" value="$bgroup">
</form>
</html>
<SCRIPT LANGUAGE="javascript">
function checkselect(frm,field)
{
        var items;
        items=frm.dirvalue.value;
        if(items.length!=0)
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        alert("Please select option");
}
function checkselect1(frm,field)
{
        var items;
        items=frm.bname.value;
        if(items.length!=0)
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
        alert("Please select option");
}
function checkField(frm,field)
{
	var theurl=document.frm.location.value;
        var tomatch= /http:\/\/[A-Za-z0-9\.-]{3,}\.[A-Za-z]{3}/
        if((frm.name.value!="")&&(frm.location.value!="")&&(frm.dirname.value!="")||(frm.comment.value!=""))
        {
		if(tomatch.test(theurl))
        	{
                frm.actionName.value=field.name;
                frm.submit();
		}
		else
                	alert("URL invalid. Try again.");
        }
        else
                alert("Please fill the Mandatory(*) Fields !!");
}
function checkField2(frm,field)
{
        if((frm.name.value!="")&&(frm.location.value!="")&&(frm.dirname.value!="")||(frm.comment.value!=""))
        {
                frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("Please fill the Mandatory(*) Fields !!");
}
function popupWin(urlName,popupName)
{
	 window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
}
function popupWin2(url,popupName)
{
       Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
function SetDirName(frm,field){
    var done=false;
    
    while (!done) {
      var newdirname=prompt("Enter a name for the new folder!"," ");
      var bln=true;

      for(var i=0;i<newdirname.length;i++){
          if(!(newdirname.charCodeAt(i)==32 || newdirname.charCodeAt(i)==95 || (newdirname.charCodeAt(i)>=65 && newdirname.charCodeAt(i)<=90) || (newdirname.charCodeAt(i)>=97 && newdirname.charCodeAt(i)<=122) || (newdirname.charCodeAt(i)>=48 && newdirname.charCodeAt(i)<=57))){
              bln=false;
          }
      }

      if(bln==false){
          alert("Invalid Characters!");
      }

      newdirname=newdirname.replace(/^\s*/, '').replace(/\s*$/, '')
      if(newdirname==""){
          alert("No Blanks!");
          bln=false;
      }
      if(bln!=false){
          if(newdirname!=null){
              document.frm.dirname.value=newdirname;
		frm.actionName.value=field.name;
                frm.submit();

              done = true;
          }
      }
    }
}
function Changefolder(frm,field)
        {
                frm.valfolder.value=document.frm.foldername.value;

        }
function Changedir(frm,field)
        {
                frm.dirvalue.value=document.frm.movedir.value;

        }
</script>


