

$page.setTitle("Admin Home | List Management | View All Courses")
$page.setBgColor("#ffffff")




<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href="$link.setPage("call,Admin.vm")">Admin's Heim</a> |
	<a href="$link.setPage("call,ListMgmt_Admin,ListManagement.vm")">Liste Management</a> | 
			Anzeigen Ausgewäte Kurse
		</td>
	<td width="30%" align="right">
		</td>
</tr>
</table>
<br>
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_Admin,ListCourse.vm")">
<table border=1 align=center bgcolor="$ui.tableColor" cellpadding=1 cellspacing=1>
        <tr>
                <td align=center><b>Suche nach</b></td>
                <td align=left>
                        <select name="queryList">
                                <option value="CourseId"> Kurs ID</option>
                                <option value="Course Name">Kurs Name</option>
                                <option value="Dept">Abteilung </option>
                        </select>
                </td>
                <td align=center><b>Match String</b></td>
                <td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
                <td>
                        <input type="button" name="Search" value="Suche" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                </td>
                <td>
                        <b><a href="$link.setPage("call,ListMgmt_Admin,ListCourse.vm").addPathInfo("mode","All")">Liste auf Alle  Kurse  </a></b>
                <td>
        </tr>
</table>
<br>
<table align="center">
	<tr>
        <td>
                <a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")">
                <img src="$content.getURI("/images/$lang/registration.jpg")"border=0></a><br>
        </td>
        </tr>
</table>
</form>

<br>
<table width=60% border=1 bgcolor="$ui.menuColor" align=center>
        </table>

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=300");
        }
	function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
</SCRIPT>
