 


$page.setTitle("Brihaspati Administrator")
$page.setBgColor("$ui.bgcolor")
<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td>
	<font face="$ui.sansSerifFonts" size=3>
     	     	<a href=$link.setPage("Index.vm")>Admin's Home page</a> | 
		Glossary Restore
		</td>
</tr>
</table>

<table width=100% align=left bgcolor="$ui.menuColor">
<tr><td>
<table width=100% align=left bgcolor="$ui.tableColor">    
<tr align=left width=33%>
		<td>
    			<a href=$link.setPage("call,Backups,Restoration.vm")>Restore </a>
				</td>
		<td>
    			<a href=$link.setPage("call,Backups,Restoration.vm").addPathInfo("st","db")>System Restore </a>
				</td>
		<td>
    			<a href=$link.setPage("call,Backups,Restoration.vm").addPathInfo("st","glsry")>Glossario Restore </a>	
				</td>
</tr>
</table></td></tr>
<tr><td>
<form name=uploadform  method="post" enctype="multipart/form-data" action="$link.setPage("call,Backups,Restoration.vm").setAction("AdminRestoreAction")" >
  <div align="left">
        <table width="100%" align="left">
      
      <tr>
        #fileUpload ("File" "file")
      </tr>
	<tr>
        <td align="left" colspan="2">

          <font face="$ui.sansSerifFonts">
                  <input type="button" name="eventSubmit_doRestoreContent" value="Restore " onClick="checkValues(document.uploadform,this);"/>
                 <input type="hidden" name="actionName">
        </td>
      </tr>
    </table>
  </div>
</form>
</td></tr>
</table>
<SCRIPT LANGUAGE="javascript">
        function checkValues(uploadform,field)
        {
                if(uploadform.file.value!="")
                {
                                uploadform.actionName.value=field.name;
                                uploadform.submit();
                }
                else
                {
                        alert("Please browse and select the file !!");
                }
        }

</SCRIPT>



