#*
 * @(#) CourseManagement.vm
 * Copyright (c) 2005-2006,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("File Upload")
#set ($lang=$data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.tableColor" width=100%>
<tr>
<td>
	<font face="$ui.sansSerifFonts"><b>
	<a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> |
	<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
 	<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm")>$brih_course $brih_mgmt</a> | 
	#if($lang=="hindi")
		$brih_content $brih_upload
	#else
		$brih_upload $brih_content
	#end
	</font>
</td>
</tr>
</table>
$!data.getMessage()
<table width=100%>
<tr>
<td align=right>
	<img src="$content.getURI("/images/hand.gif")">	<a href=javascript:popupWin("/brihaspati2/docs/Upload.html","newWin");>$brih_help</a>
</td>
</tr>
</table>
<table width="100%">
<tr><td><b>$brih_space $!aSize $quota_sze</b></td><td align=right ><b>$brih_usedspace   $!TUSize $quota_sze </b></td></tr>
<table>
##################
<table border="1" bgcolor="$ui.tableColor">
#if($errorMess!="")
     <tr>
	   <td><b>$brih_uploadingError </b>$!errorMess </td>
     </tr>
#else
	<tr >
        #if($uploadStatus=="full")
                <td>
		#if($pub=="Publish")
		$brih_uploadSucessfully  &  $brih_publish  
		#else
		$brih_uploadSucessfully 
		#end
                </td>
        #else
                #if($uploadStatus=="partial")
                        <td>
                       ## Some of the files have been uploaded
			$brih_uploadSomeFile  <br>
			
                       ## Following files already existed, so were not uploaded :
			$brih_uploadFileExist $brih_commaexist<br>

                #elseif($totalFilesEntries.Count>0)
                        <td>
                        ##None of the files were Uploaded <br>
                        ##All of the following  Existed at Server :
			$brih_uploadNonefile <br>
			$brih_uploadFileOnServer $brih_commaexist<br>
                #elseif($uploadStatus!="")
                        <td>
                        ##There is nothing to Upload
			$brih_uploadNothin <br>
                #end
                <br>
                #set($count=1)
                #foreach($File in $failedFiles)
			<tr>
                       <td> $count.  $File</td> 
			</tr>
                        #set($count=$count+1)
                #end
                </td>
        #end
	</tr>
#end
</table>

<script LANGUAGE="JAVASCRIPT">
	function blurTopicName(frm)
	{
		frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
	}
	
	function changeTopic(frm)
	{
		if(frm.topicExisting[0].checked)
		{
			frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
		}
		else
		{
			frm.contentTopic.focus();
		}
	}

	function checkRadio()
	{
		if(document.uploadform.topicExisting[0].checked)
		{
			document.uploadform.contentTopic.blur();
		}
		
	}
	function validate(uploadform,field)
	{	
		var tList=uploadform.topicList;
		var cTopic=uploadform.contentTopic;
		if(uploadform.contentTopic.value!="")
		{
			var totNamedEntries=uploadform.topicList.length;
			for(i=1;i<totNamedEntries;i++)
			{
				if(tList.options[i].text==cTopic.value)
				{
					if(uploadform.topicExisting[1].checked)
					{
						if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
						{
						uploadform.actionName.value=field.name;
                                		uploadform.submit();
						}
						else
						{
						return;
						}
	
					}
				}
			}
			uploadform.actionName.value=field.name;
                        uploadform.submit();
		}
		else
		{
			alert("Topic Name Can not Empty !!");
		}
	}
</script>

<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,Upload.vm").setAction("UploadAction")">
  <div align="left">

    <table align=center bgcolor="$ui.bgcolor" cellpadding="0">
      #if ($errorTemplate)
      <tr>
        <td colspan="4">
          <table bgcolor="$ui.bgcolor">
            <tr>
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end
	<tr>
		<img src="$content.getURI("/images/hand.gif")"><font color="red">$brih_UploadMsg</font>
	</tr>
<br><br>
      <tr>
	 <td colspan=4>
         <INPUT TYPE="hidden" name="unpublish" checked=true  value="" >
	<b><input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>$brih_Exist $brih_topic
	<SELECT name=topicList onFocus=changeTopic(document.uploadform) onChange=changeTopic(document.uploadform)>
	  <option></option>
	  #foreach($topic in $allTopics)
		<option>$topic</option>
	  #end
	</SELECT>
	<input type="RADIO" name=topicExisting value="NEWTOPIC" >$brih_new $brih_topic
	</td>
	</tr>
	<tr>
	<td colspan=3>
	<INPUT TYPE="CHECKBOX" name="publish" value="Publish"> <b>$brih_publish</b>
	</td>
	</tr>
      <tr>
	##formCell ("Topic Name" "contentTopic" "")
  	<td bgcolor="$ui.tableColor">
  	<b><font face="$ui.sansSerifFonts">$brih_topic #if($lang=="hindi") $brih_Of1 #end $brih_name</font> </b>
	</td>
	<td>
	<input type="text" name=contentTopic onFocus=checkRadio() size=30>
    	</td>
      <tr>
              #fileUpload ("1. &nbsp; $brih_at_file " "file1")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("6.&nbsp; $brih_at_file  &nbsp;" "file6") 
      </tr>
      <tr>
              #fileUpload ("2. &nbsp; $brih_at_file " "file2")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("7.&nbsp; $brih_at_file  &nbsp;" "file7") 
      </tr>
      <tr>
              #fileUpload ("3. &nbsp; $brih_at_file " "file3")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("8.&nbsp; $brih_at_file  &nbsp;" "file8") 
      </tr>
      <tr>
              #fileUpload ("4. &nbsp; $brih_at_file " "file4")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("9.&nbsp; $brih_at_file  &nbsp;" "file9") 
      </tr>
      <tr>
              #fileUpload ("5. &nbsp; $brih_at_file " "file5")</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>#fileUpload ("10.&nbsp; $brih_at_file  &nbsp;" "file10") 
      </tr>

      <tr>
        <td colspan=5 align="center" bgcolor="$ui.buttonBoxColor">

          <font face="$ui.sansSerifFonts">

          <input type="button" name="eventSubmit_doUpload" value="$brih_upload" onClick="validate(document.uploadform,this);"/>&nbsp;
	<input type="hidden" name="actionName"value="">
    
          </font>
        </td>
      </tr>
      
    </table>
  </div>
</form>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }
</SCRIPT>
