<html>
#*
*@(#)ManageBookmarks.vm
 *  Copyright (c) 2008-09 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *  @author <a href="mailto:shaistashekh@hotmail.com "> Shaista </a>
 * @modified 15-04-2009
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

$page.setTitle("ManageBookmarks")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())

<table bgcolor="$ui.tableColor" width=100% > ##table 1 start
        <tr align="right">
	<td width="30%" align="left">
        #if( $total_size!=0 )
		#if( $endIndex < $total_size )
			#if( $endIndex < $userConf )
				[$k - $total_size] $brih_all $total_size $brih_inFrom
	                #else
        		        [$k - $endIndex] $brih_all $total_size $brih_inFrom
	                #end
	        #else
        		[$k - $total_size] $brih_all $total_size $brih_inFrom
	        #end
        #end
        </td>
	<td><b>
        <a href=$link.setPage("call,IndexHome.vm")>$brih_home</a> | $brih_Manage$brih_Bookmark</b>
	</td>
	</tr>

</table> ##table 1 end
<br>
<table bgcolor="#e5e5e5" width="100%">
        <tr>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td > ##lign="right">
<a href=javascript:popupWin2("/brihaspati2/docs/ManageBookmarks.html","newWin");>$brih_help <img src="$content.getURI("/images/Lefthand.gif")"> </a> </td>
                <td align="right"><b>
                <a href=$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("mode","addBmarks")>$brih_Bookmark $brih_add </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href=$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("stat1","All")>$brih_Manage $brih_Bookmark</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
		</b>
		</td>
        </tr>
</table>
<br>
#if($Mode=="NoBlank")
<form name="frm" method="post" action="$link.setPage("call,Bookmarks,ManageBookmarks.vm")">
<table  bgcolor="#e5e5e5" width="100%">
<tr>
        <td bgcolor="#e5e5e5" align="right">
         <input type="button" name="search" value="$brih_search" onClick="checkNull(document.frm,this);">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="dirname" size="1" onChange="Changedir(document.frm,this);"/>
                                <option>  - $brih_select - </option>
                               #foreach($bdname1 in $dirvalue1)
                               <option value="$bdname1">$bdname1
                               #end
                               </option>
                        </select>
	<b> : $brih_Bookmark $brih_searchBy $brih_Folder$brih_name</b>
	<input type="hidden" name="stat1" value="Search">

         </td>
</tr>
</table>
##if($Mode=="NoBlank")
<table  bgcolor="#e5e5e5" width="100%">
<tr align="right">
        <td bgcolor="#d9e3ec"colspan="4"><b>$brih_availableAction</td>
        <td bgcolor="#d9e3ec"><b>$brih_Bookmark</b></td>
</tr>
#set ( $count="" )
                #foreach($btopics in $allTopics)
<tr bgcolor="#e5e5e5" align="right">
#if($btopics.type=="general")
<td><a href="javascript:void(0)"onclick="window.open('$btopics.Url')">$brih_view</a></td>
#end
#if($btopics.type=="Course")
	<td><a href="$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("btname",$btopics.Topic).addPathInfo("bturl",$btopics.Url).addPathInfo("bgroup",$btopics.Name).addPathInfo("stat","view").addPathInfo("stat1","All")">$brih_view</a></td>
#end
#if($btopics.type=="Course_file")
<td><a href=javascript:popupWin("$link.setPage("call,ViewFileContent.vm").addPathInfo("topic",$btopics.Topic).addPathInfo("dir",$btopics.Name).addPathInfo("type","Bookmarks").addPathInfo("filename",$btopics.Url)","newWin")>$brih_view</a>&nbsp;&nbsp;</td>
#end
#if($btopics.type=="general")
<td><a href="$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("btname",$btopics.Topic).addPathInfo("stat","Move").addPathInfo("stat1","All")">$brih_move</a></td>
<td><a href="$link.setPage("call,Bookmarks,AddBookmarks.vm").addPathInfo("btname",$btopics.Topic).addPathInfo("stat","Rename").addPathInfo("stat1","All")">$brih_Rename</a></td>
#else
<td><u><font color="white">$brih_move</font></u></td>
<td><u><font color="white">$brih_Rename</font></u></td>
#end
<td><a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").setAction("Bookmarks").addPathInfo("btname",$btopics.Topic).addPathInfo("stat","delete").addPathInfo("stat1","All").addPathInfo("actionName","eventSubmit_doDeleteBookmark")">$brih_delete</a></td>
	#if($btopics.type =="Course_file" || $btopics.type =="Course")
        <td>$btopics.Url</td>
	#else
        <td>$btopics.Topic</td>
	#end
#set ( $count= "$count$!btopics.Topic^")
       		 #end
</tr>
</table>
<table bgcolor="#e5e5e5" width="100%"><tr><td align="right">
	#if($stat1!="Search")
	#if($total_size <= $userConf)
                <u><font color="white">$brih_first</font></u> &nbsp;
                <u><font color="white">$brih_pre</font></u> &nbsp;
                <u><font color="white">$brih_nxt</font></u> &nbsp;
                <u><font color="white">$brih_last</font></u> &nbsp;
                #elseif($startIndex == $userConf_string)
                <u><font color="white">$brih_first</font></u> &nbsp;
                <u><font color="white">$brih_pre</font></u> &nbsp;
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stat1",$stat1)">$brih_nxt</a> &nbsp;
		<a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_last).addPathInfo("stat1",$stat1)">$brih_last</a> &nbsp;
                #elseif($endIndex == $total_size || $endIndex > $total_size)
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_first).addPathInfo("stat1",$stat1)">$brih_first</a>&nbsp;
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stat1",$stat1)">$brih_pre</a> &nbsp;
                <u><font color="white">$brih_nxt</font></u> &nbsp;
                <u><font color="white">$brih_last</font></u> &nbsp;
                #else
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_first).addPathInfo("stat1",$stat1)">$brih_first</a>&nbsp;
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stat1",$stat1)">$brih_pre</a> &nbsp;
                <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("stat1",$stat1)">$brih_nxt</a> &nbsp;
          <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_last).addPathInfo("stat1",$stat1)">$brih_last</a> &nbsp;
                #end
		#else
         #if($total_size<= $userConf)
         <u><font color="white">$brih_first</font></u> &nbsp;
         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_pre</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;
          #elseif($startIndex== $userConf_string)
          <u><font color="white">$brih_first</font></u> &nbsp;
          <u><font color="white">$brih_pre</font></u> &nbsp;
          <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_nxt</a> &nbsp;
          <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_last).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_last</a> &nbsp;
         #elseif($endIndex == $total_size || $endIndex > $total_size)
         <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_first).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_first</a> &nbsp;
         <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_pre</a> &nbsp;
         <u><font color="white">$brih_nxt</font></u> &nbsp;
         <u><font color="white">$brih_last</font></u> &nbsp;
          #else
           <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_first).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_first</a> &nbsp;
           <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_pre).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_pre</a> &nbsp;
           <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$startIndex).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_nxt</a> &nbsp;
            <a href="$link.setPage("call,Bookmarks,ManageBookmarks.vm").addPathInfo("startIndex",$check_last).addPathInfo("stat1",$stat1).addPathInfo("valdir",$valdir)">$brih_last</a> &nbsp;
     #end
    #end

	</td></tr>
</table>
#else
<table bgcolor="#e5e5e5" width="100%">
<tr><td align="center"><b><font color="blue"> $brih_Bookmark $Res_mess1</font></b></td></tr>
</table>
#end
	<input type="hidden" name="valdir">
	<input type="hidden" name="stat" value="$stat">
	<input type="hidden" name="stat1" value="$stat1">
	<input type="hidden" name="btname" value="$btname">
</form>
<SCRIPT LANGUAGE="javascript">
function popupWin2(url,popupName)
{
       Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
function popupWin(urlName,popupName)
{
	 window.open(urlName,popupName,"toolbar=yes,scrollbars=yes");
}
function Changedir(frm,field)
        {
                frm.valdir.value=document.frm.dirname.value;

        }
function checkNull(frm,field)
{
		if(frm.valdir.value!=""){
                        frm.submit();
                }
                else{
                        alert("Please select option");
                }

}
function open_mywin(url,height,width) {
window.open(url,height,width)
}
</script>
